### 1 - Leitura do __arquivo__ para compreensão da situação problema.
   - ler o arquivo.
   - Mostrar a quantidade de linhas e conlunas.
   - mostrar as primeiroas linhas.

In [1]:
# importando as bibliotecas necessárias
import pandas as pd
import numpy as np

# lendo o arquivo
df = pd.read_csv(r'./modelo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df.shape}')
# Mostrando as colunas
print(f'Colunas: \n {df.columns}')
# Mostrando as primeiras linhas
df.head(3)

Quantidade de linhas e colunas: (2109, 31)
Colunas:
 Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'],
      dtype='object')

,ANO_TABELA,CD_SERVIÇO_HONORARIO,FORA_ROL,RESTRICAO_PRESIDENCIA,TP_SERVIÇO_ATENDIMENTO,SERVICO,NM_SERV_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,DS_PROC_EQUIVALENTES,...,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,LIVRO,WEB,PE,VALOR_ATUAL,VALOR_PROPOSTO,IMPACTO(%)
0,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"
1,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"
2,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"

### 2 - Trazendo as colunas necessárias para o arquivo desejado.
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`
   - `VALOR_PROPOSTO`
   - `CD_TIPO_ACOMODACAO`
   - `URGENCIA`
   - `ELETIVA`
   - `TAXAS`
   - `MATERIAL`
   - `CONSULTA_HONORARIO`
   - `ANESTESISTA`
   - `AUXILIAR`
   - `CD_TIPO_REDE`

In [59]:
# Selecionando as colunas que serão utilizadas
columns_selects = [
   'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS', 'VALOR_PROPOSTO',
   'CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 'CONSULTA_HONORARIO',
   'ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE',
]
# filtrando as colunas
df_filtered = df[columns_selects].copy()

# removendo as duplicatas
df_filtered.drop_duplicates(inplace=True)
# resetando o index
df_filtered.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df: {df.shape}')
print(f'Quantidade de linhas e colunas df_filtered: {df_filtered.shape}')

# Mostrando as primeiras linhas
df_filtered.head(3)

Quantidade de linhas e colunas df: (2109, 31)
Quantidade de linhas e colunas df_filtered: (2109, 13)

,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE
0,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP1117
1,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP204
2,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP762

### 3 - Criando a primeira CHAVE_1
   - 3.1 União e combinações possíveis para as seguintes colunas:
      - `URGENCIA`
      - `ELETIVA`
      - `TAXAS`
      - `MATERIAL`
      - `CONSULTA_HONORARIO`
      - `ANESTESISTA`
      - `AUXILIAR`

In [60]:
# Criando a coluna CHAVE_1 concatenando as colunas especificadas
columns = 'URG_ELE_TAX_MAT_CON_ANE_AUX'
df_filtered['CHAVE_1'] = (
   df_filtered['URGENCIA'].astype(str) + 
   df_filtered['ELETIVA'].astype(str) + 
   df_filtered['TAXAS'].astype(str) + 
   df_filtered['MATERIAL'].astype(str) + 
   df_filtered['CONSULTA_HONORARIO'].astype(str) + 
   df_filtered['ANESTESISTA'].astype(str) + 
   df_filtered['AUXILIAR'].astype(str)
)
df_filtered.rename(columns={'CHAVE_1': columns}, inplace=True)
# Salvando para conferir
df_filtered.to_csv(r'./ARQUIVOS/columns_filtered.csv', sep=';', encoding='latin1', index=False)
# Exibindo as primeiras linhas para verificar
df_filtered.head(2)

,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE,URG_ELE_TAX_MAT_CON_ANE_AUX
0,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP1117,SNNNSNN
1,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP204,SNNNSNN

In [19]:
print(100*'-')
print(f'CD_SERVIÇO_HONORARIO: {df_filtered["CD_SERVIÇO_HONORARIO"].nunique()}')
print(f'CD_SERVIÇO_HONORARIO:\n {df_filtered["CD_SERVIÇO_HONORARIO"].unique()}')
print(100*'-')
print(f'CD_PROCEDIMENTO_TUSS: {df_filtered["CD_PROCEDIMENTO_TUSS"].nunique()}')
print(f'CD_PROCEDIMENTO_TUSS:\n {df_filtered["CD_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'VALOR_PROPOSTO: {df_filtered["VALOR_PROPOSTO"].nunique()}')
print(f'VALOR_PROPOSTO: \n{df_filtered["VALOR_PROPOSTO"].unique()}')
print(100*'-')
print(f'NM_PROCEDIMENTO_TUSS: {df_filtered["NM_PROCEDIMENTO_TUSS"].nunique()}')
print(f'NM_PROCEDIMENTO_TUSS: \n{df_filtered["NM_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'CHAVE_1: {df_filtered["CHAVE_1"].nunique()}')
print(f'CHAVE_1: \n{df_filtered["CHAVE_1"].unique()}')
print(100*'-')

----------------------------------------------------------------------------------------------------
CD_SERVIÇO_HONORARIO: 16
CD_SERVIÇO_HONORARIO:
 [10102019 10104011 10104020 20103280 20203047 40324192 50000632 90010922
 90010949 90010957 90020146 90020162 90020170 90090357 90090365 90090373]
----------------------------------------------------------------------------------------------------
CD_PROCEDIMENTO_TUSS: 11
CD_PROCEDIMENTO_TUSS:
 [10102019 10104011 10104020 20103280 20203047 40324192 50000632 31309062
 31309054 31309135 31309127]
----------------------------------------------------------------------------------------------------
VALOR_PROPOSTO: 7
VALOR_PROPOSTO:
['113,39' '161,99' '286,73' '58,43' '3.074,95' '6.988,51' '1.053,80']
----------------------------------------------------------------------------------------------------
NM_PROCEDIMENTO_TUSS: 11
NM_PROCEDIMENTO_TUSS:
['VISITA HOSPITALAR (PACIENTE INTERNADO)'
 'ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA E POR PACIENTE)'
 'ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRICA (PLANTAO DE 12 HORAS - POR PACIENTE)'
 'HEMIPLEGIA E HEMIPARESIA COM AFASIA'
 'ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERNADO'
 'ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA'
 'SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA'
 'CURETAGEM POS-ABORTAMENTO' 'CESARIANA'
 'PARTO MULTIPLO (CADA UM SUBSEQUENTE AO INICIAL)' 'PARTO (VIA VAGINAL)']
----------------------------------------------------------------------------------------------------
CHAVE_1: 4
CHAVE_1:
['URG_S ELE_N TAX_N MAT_N CON_S ANE_N AUX_N'
 'URG_N ELE_S TAX_N MAT_N CON_S ANE_N AUX_N'
 'URG_S ELE_S TAX_N MAT_N CON_S ANE_N AUX_N'
 'URG_S ELE_S TAX_S MAT_S CON_N ANE_N AUX_N']
----------------------------------------------------------------------------------------------------

### 4 Demonstração da CHAVE_2
   - 4.1 CHAVE_2 - Concatenado entre as seguintes colunas:
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`

In [24]:
df_filtered['CHAVE_2'] = (
   df_filtered['CD_SERVIÇO_HONORARIO'].astype(str) + '_' +
   df_filtered['CD_PROCEDIMENTO_TUSS'].astype(str) + '_' +
   df_filtered['NM_PROCEDIMENTO_TUSS'].astype(str)
)
# Selecionando as colunas que serão utilizadas
df_key_1 = df_filtered[['CD_SERVIÇO_HONORARIO', 'CHAVE_2']].copy()
# removendo as duplicadas
df_key_1.drop_duplicates(inplace=True)
# reiniciando o index
df_key_1.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_1: {df_key_1.shape}')
df_key_1.head(20)

Quantidade de linhas e colunas df_key_1: (16, 2)

    CD_SERVIÇO_HONORARIO                                            CHAVE_2
0               10102019  10102019_10102019_VISITA HOSPITALAR (PACIENTE ...
1               10104011  10104011_10104011_ATENDIMENTO DO INTENSIVISTA ...
2               10104020  10104020_10104020_ATENDIMENTO MEDICO DO INTENS...
3               20103280  20103280_20103280_HEMIPLEGIA E HEMIPARESIA COM...
4               20203047  20203047_20203047_ASSISTENCIA FISIATRICA RESPI...
5               40324192  40324192_40324192_ANTIGENO NS1 DO VIRUS DA DEN...
6               50000632  50000632_50000632_SESSAO INDIVIDUAL HOSPITALAR...
7               90010922        90010922_31309062_CURETAGEM POS-ABORTAMENTO
8               90010949                        90010949_31309054_CESARIANA
9               90010957        90010957_31309062_CURETAGEM POS-ABORTAMENTO
10              90020146  90020146_31309135_PARTO MULTIPLO (CADA UM SUBS...
11              90020162                        90020162_31309054_CESARIANA
12              90020170                        90020170_31309054_CESARIANA
13              90090357                        90090357_31309054_CESARIANA
14              90090365              90090365_31309127_PARTO (VIA VAGINAL)
15              90090373              90090373_31309127_PARTO (VIA VAGINAL)

### 5 - Demonstração da CHAVE_3
   - 5.1 CHAVE_3 - Concatenado entre as seguintes colunas:
   - `CD_SERVIÇO_HONORARIO`
   - `VALOR_PROPOSTO`

In [ ]:
# Selecionando as colunas que serão utilizadas
df_key_2 = df_filtered[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO']].copy()
# removendo as duplicadas
df_key_2.drop_duplicates(inplace=True)
# reiniciando o index
df_key_2.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_2: {df_key_2.shape}')
df_key_2.head(20)

Quantidade de linhas e colunas df_key_2: (16, 2)

    CD_SERVIÇO_HONORARIO VALOR_PROPOSTO
0               10102019         113,39
1               10104011         161,99
2               10104020         286,73
3               20103280          58,43
4               20203047          58,43
5               40324192          58,43
6               50000632          58,43
7               90010922       3.074,95
8               90010949       6.988,51
9               90010957       3.074,95
10              90020146       1.053,80
11              90020162       6.988,51
12              90020170       6.988,51
13              90090357       6.988,51
14              90090365       6.988,51
15              90090373       6.988,51

### 6 Demonstração da CHAVE_4
   - 6.1 CHAVE_4 - Concatenado entre as seguintes colunas:
   - `CD_SERVIÇO_HONORARIO`
   - `CD_TIPO_REDE`

In [65]:
# Selecionando as colunas que serão utilizadas
df_key_3 = df_filtered[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CON_ANE_AUX','CD_TIPO_REDE']].copy()

df_key_3['CHAVE_3_AUX'] = (
      df_key_3['CD_SERVIÇO_HONORARIO'].astype(str) + '#' +
      df_key_3['VALOR_PROPOSTO'].astype(str) + '#' +
      df_key_3['URG_ELE_TAX_MAT_CON_ANE_AUX'].astype(str)
   )

print(f'Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: {df_key_3.shape}')

df_key_3.drop_duplicates(inplace=True)
# Resetando o index
df_key_3.reset_index(drop=True, inplace=True)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3 após remover as duplicadas: {df_key_3.shape}')

#print(df_key_3.head(3))

# Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de CD_TIPO_REDE
df_key_3_grouped = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .apply(', '.join)
    .reset_index()
)

# Adicionando uma coluna com a quantidade de redes
df_key_3_grouped['QUANTIDADE_REDES'] = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .size()
    .values
)

# Renomeando as colunas para manter o formato desejado
df_key_3_grouped.columns = ['CD_SERVIÇO_HONORARIO', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']

# quebrando a coluna CHAVE_3_AUX em 3 colunas separadas por '#'
df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CON_ANE_AUX']] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].str.split('#', expand=True)
# removendo a coluna CHAVE_3_AUX
# reordenando as colunas 
df_key_3_grouped = df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CON_ANE_AUX', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']].copy()
# Resetando o index
df_key_3_grouped.reset_index(drop=True, inplace=True)

# Salvando para avaliar o resultado
df_key_3_grouped.to_csv(r'./ARQUIVOS/chave_rede.csv', sep=';', encoding='latin1', index=False)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3: {df_key_3_grouped.shape}')
df_key_3_grouped.head(50)

Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: (2109, 5)
Quantidade de linhas e colunas df_key_3 após remover as duplicadas: (2109, 5)
Quantidade de linhas e colunas df_key_3: (22, 5)

,CD_SERVIÇO_HONORARIO,VALOR_PROPOSTO,URG_ELE_TAX_MAT_CON_ANE_AUX,CD_TIPO_REDE,QUANTIDADE_REDES
0,10102019,"113,39",SNNNSNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",237
1,10104011,"161,99",NSNNSNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
2,10104011,"161,99",SNNNSNN,"AE100, AE102, AE106, AE107, AE114, AE115, AE11...",187
3,10104020,"286,73",NSNNSNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
4,10104020,"286,73",SNNNSNN,"AE100, AE102, AE106, AE107, AE114, AE115, AE11...",187
5,20103280,"58,43",SNNNSNN,"AE165, SP1116, SP201, AE297, SP251, SP1067, SP...",224
6,20103280,"58,43",SSNNSNN,"SP1117, SP204, SP762, SP249, SP250, SP205, SP2...",13
7,20203047,"58,43",SNNNSNN,"AE100, AE102, AE106, AE107, AE114, AE115, AE11...",187
8,20203047,"58,43",SSNNSNN,"SP762, SP249, SP250, AE165, SP1116, SP201, AE2...",50
9,40324192,"58,43",SNNNSNN,"AE31, AE32, AE338, AE341, AE344, AE345, AE363,...",187
10,40324192,"58,43",SSNNSNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
11,50000632,"58,43",SNNNSNN,"AE100, AE102, AE106, AE107, AE114, AE115, AE11...",187
12,50000632,"58,43",SSNNSNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
13,90010922,"3.074,95",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
14,90010949,"6.988,51",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
15,90010957,"3.074,95",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
16,90020146,"1.053,80",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
17,90020162,"6.988,51",SSSSNNN,"SP1115, SP200, SP1072, SP1123, SP262, SP1070, ...",50
18,90020170,"6.988,51",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
19,90090357,"6.988,51",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
20,90090365,"6.988,51",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50
21,90090373,"6.988,51",SSSSNNN,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1...",50

Index(['CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS',
       'MATERIAL', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR',
       'CD_TIPO_REDE', 'CHAVE_1', 'CHAVE_2', 'CHAVE_3'],
      dtype='object')