# 1 - Leitura do arquivo extraído do sistema.
- 1.2 Começamos com algumas tratativas nas colunas necessárias que precisamos.
   - Correção de 3 colunas com valores inteiros, removendo __'.0'__ inconsistência.
   - Selecionando somente as colunas necessárias(14) ao invés de 31 colunas.

In [81]:
# importando as bibliotecas necessárias
import pandas as pd
import numpy as np
from pandas import ExcelWriter

# lendo o arquivo
df = pd.read_csv(r'./ARQUIVOS/T2182_DEMAIS_PACOTES_PROTOCOLO_424126_TIPO_PACOTE_2_07042025163931.CSV', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df.shape}')
df['CD_SERVIÇO_HONORARIO'] = df['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
df['CD_PROCEDIMENTO_TUSS'] = df['CD_PROCEDIMENTO_TUSS'].astype(str).str.replace('.0', '')
df['CD_TIPO_ACOMODACAO'] = df['CD_TIPO_ACOMODACAO'].astype(str).str.replace('.0', '')
# Mostrando as colunas
print(f'Colunas: \n {df.columns}')
# Mostrando as primeiras linhas
df.head(3)

Quantidade de linhas e colunas: (5814, 31)
Colunas:
 Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'],
      dtype='object')

,ANO_TABELA,CD_SERVIÇO_HONORARIO,FORA_ROL,RESTRICAO_PRESIDENCIA,TP_SERVIÇO_ATENDIMENTO,SERVICO,NM_SERV_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,DS_PROC_EQUIVALENTES,...,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,LIVRO,WEB,PE,VALOR_ATUAL,VALOR_PROPOSTO,IMPACTO(%)
0,2405,10103023,NÃO,NÃO,4,INTERNACAO E/OU PQA,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,00030023 / 00030031 / 98101036,...,N,S,N,N,S,N,NaN,"295,46","309,82","4,86"
1,2405,10103023,NÃO,NÃO,4,INTERNACAO E/OU PQA,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,00030023 / 00030031 / 98101036,...,N,S,N,N,S,N,NaN,"295,46","309,82","4,86"
2,2405,10103023,NÃO,NÃO,4,INTERNACAO E/OU PQA,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,00030023 / 00030031 / 98101036,...,N,S,N,N,S,N,NaN,"295,46","309,82","4,86"

### 1.3 - Leitura do arquivo para Auxiliar na descrição dos proceddimentos.
   - Quando o código deste arquivo for encontrado no arquivo principal, seguirá certas regras específicas.
   - Poderá trazer o nome do procedimento ou o nome do serviço de acordo com cada linha.

In [79]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_cod = pd.read_csv(r'./modelo_cod_renomeacao.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_cod.shape}')
# Renomendando as colunas
df_cod.rename( columns={'COD_RENOMEACAO':'CD_SERVIÇO_HONORARIO'}, inplace=True)
# Convertendo os valores para string e forçando vir 8 dígitos
df_cod['CD_SERVIÇO_HONORARIO'] = df_cod['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
# Mostrando as colunas
print(f'Colunas: \n {df_cod.columns}')
# Mostrando as primeiras linhas
df_cod.head(3)

Quantidade de linhas e colunas: (3924, 1)
Colunas:
 Index(['CD_SERVIÇO_HONORARIO'], dtype='object')

  CD_SERVIÇO_HONORARIO
0             00004321
1             00004322
2             00004323

### 1.4 - Leitura do arquivo `De Para` para Auxiliar a confecção do arquivo principal.
   - Correção de 1 coluna com valore inteiro, removendo __'.0'__ inconsistência.
   - Formando um dicionário para criar um mecanismo de chave de busca.
   - Usar a nova coluna chave para auxiliar no material principal.

In [2]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_sigo = pd.read_csv(r'./ARQUIVOS/de_para_sigo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_sigo.shape}')

# Convertendo os valores para string e forçando vir 8 dígitos
df_sigo['ANO_TABELA'] = df_sigo['ANO_TABELA'].astype(str).str.replace('.0', '').str.zfill(8)

# Mostrando as colunas
print(f'Colunas: \n {df_sigo.columns}')
# Mostrando as primeiras linhas
df_sigo.head(3)

Quantidade de linhas e colunas: (25, 2)
Colunas:
 Index(['ANO_TABELA', 'DESCRICAO'], dtype='object')

  ANO_TABELA    DESCRICAO
0   00001240  INTERMEDICA
1   00001241     AMB 1990
2   00001242     AMB 1992

- 2 - Processando as colunas do arquivo principal
   - 2.1 - Selecionando as (12) colunas que usaremos.
   - 2.2- Criamos um dicionário para mapear as chaves de busca e trazer os valores do item *`1.4`*.
   - 2.3 - Substituindo os valores em df com base no dicionário.
   - 2.4 - filtrar o que precisamos.
   
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`
   - `VALOR_PROPOSTO`
   - `CD_TIPO_ACOMODACAO`
   - `URGENCIA`
   - `ELETIVA`
   - `TAXAS`
   - `MATERIAL`
   - `CONSULTA_HONORARIO`
   - `ANESTESISTA`
   - `AUXILIAR`
   - `CD_TIPO_REDE`

In [ ]:
# Selecionando as colunas que serão utilizadas
columns_selects = [
   'ANO_TABELA','CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_SERV_HONORARIO', 'NM_PROCEDIMENTO_TUSS', 
   'VALOR_PROPOSTO','CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 
   'CONSULTA_HONORARIO','ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE',
] 
# filtrando as colunas
df_filtered = df[columns_selects].copy()
print(df_filtered['ANO_TABELA'].value_counts())
# puxando as informações com np.where do df_sigo que são iguais ao df_filtered
# Criando um dicionário de mapeamento a partir de df_sigo
map_dict = dict(zip(df_sigo['ANO_TABELA'], df_sigo['DESCRICAO']))

# Substituindo os valores em df_filtered['ANO_TABELA'] com base no dicionário
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].map(map_dict).fillna(df_filtered['ANO_TABELA'])

# Mostrando as primeiras linhas para verificar
print(df_filtered['ANO_TABELA'].value_counts())
df_filtered.head(3)
print(df_filtered['ANO_TABELA'].value_counts()) 

# Buscando os valores que estão no df_cod e no df_filtered
df_filtered['NOMENCLATURA'] = np.where(df_filtered['CD_SERVIÇO_HONORARIO'].isin(df_cod['CD_SERVIÇO_HONORARIO']), df_filtered['NM_PROCEDIMENTO_TUSS'], df_filtered['NM_SERV_HONORARIO'])
# Mostrando os valores que estão no df_cod e no df_filtered
print(df_filtered['NOMENCLATURA'].value_counts())

columns_selects= ['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NOMENCLATURA', 'VALOR_PROPOSTO',
   'CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL','CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE']

df_filtered = df_filtered[columns_selects].copy()
# removendo as duplicatas
df_filtered.drop_duplicates(inplace=True)
# resetando o index
df_filtered.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df: {df.shape}')
print(f'Quantidade de linhas e colunas df_filtered: {df_filtered.shape}')

# Mostrando as primeiras linhas
df_filtered.head(3)

ANO_TABELA
1992    2394
1249    1938
2405    1482
Name: count, dtype: int64
ANO_TABELA
1992           2394
INTERMEDICA    1938
CBHPM 2012     1482
Name: count, dtype: int64
ANO_TABELA
1992           2394
INTERMEDICA    1938
CBHPM 2012     1482
Name: count, dtype: int64
NOMENCLATURA
SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR AO PACIE                                                                                      456
ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE COM DISF                                                                                      456
ANGIOPLASTIA TRANSLUMINAL PERCUTANEA DE MULTIPLOS VASOS COM IMPLANTE DE STENT                                                                     228
ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE COM DEPE                                                                                      228
ANGIOPLASTIA TRANSLUMINAL PERCUTANEA POR BALAO (1 VASO)                                                                                           228
ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO (PARTO NORMAL                                                                                       228
ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRIC                                                                                      114
PATOLOGIA OSTEOMIOARTICULAR EM DOIS OU MAIS MEMBROS                                                                                               114
ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERN                                                                                      114
UNIDADE DE PLASMA                                                                                                                                 114
UNIDADE DE CRIOPRECIPITADO DE FATOR ANTI-HEMOFILICO                                                                                               114
UNIDADE DE CONCENTRADO DE PLAQUETAS POR AFERESE                                                                                                   114
UNIDADE DE CONCENTRADO DE HEMACIAS LAVADAS                                                                                                        114
VISITA HOSPITALAR ( PACIENTE INTERNADO )                                                                                                          114
CONSULTA AMBULATORIAL EM FISIOTERAPIA                                                                                                             114
UNIDADE DE CONCENTRADO DE HEMACIAS                                                                                                                114
DELEUCOTIZACAO DE UNIDADE DE CONCENTRADO DE HEMACIAS - POR U                                                                                      114
SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR POR ALTE                                                                                      114
SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR PARA ALT                                                                                      114
CONSULTA INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA                                                                                                  114
CONSULTA AMBULATORIAL POR NUTRICIONISTA                                                                                                           114
SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA                                                                                                    114
CONSULTA HOSPITALAR EM FISIOTERAPIA                                                                                                               114
SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR NO PRE E                                                                                      114
UNIDADE DE CONCENTRADO DE PLAQUETAS (DUPLA CENTRIFUGACAO)                                                                                         114
ATENDIMENTO FISIOTERAPEUTICO HOSPITALAR AO PACIENTE INDEPEND                                                                                      114
ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE DEPENDEN                                                                                      114
CONSULTA HOSPITALAR POR NUTRICIONISTA                                                                                                             114
HEMODEPURACAO DE CASOS AGUDOS (SESSAO HEMODIALISE HEMOFILTRACAO HEMODIAFILTRACAO ISOLADA PLASMAFERESE OU HEMOPERFUSAO) - ATE 4 HORAS OU FRACAO    114
CATETERISMO CARDIACO E E/OU D COM CINEANGIOCORONARIOGRAFIA E VENTRICULOGRAFIA                                                                     114
GASTROPLASTIA PARA OBESIDADE MORBIDA - QUALQUER TECNICA                                                                                           114
ANGIOPLASTIA TRANSLUMINAL PERCUTANEA                                                                                                              114
ANGIOPLASTIA CORONARIA                                                                                                                            114
ANGIOPLASTIA COM STENTS                                                                                                                           114
HEMODIALISE CRONICA (POR SESSAO)                                                                                                                  114
COLONOSCOPIA (INCLUI A RETOSSIGMOIDOSCOPIA)                                                                                                       114
ARTERIOGRAFIA DE MEMBRO (UNILATERAL)                                                                                                              114
ARTERIOGRAFIA DE MEMBRO (BILATERAL)                                                                                                               114
ANGIOGRAFIA POR PUNCAO                                                                                                                            114
ANGIOGRAFIA CEREBRAL                                                                                                                              114
MANOMETRIA COMPUTADORIZADA ANORRETAL PARA BIOFEEDBACK - 1ª SESSAO                                                                                 114
Name: count, dtype: int64
Quantidade de linhas e colunas df: (5814, 31)
Quantidade de linhas e colunas df_filtered: (5814, 14)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE
0,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"309,82",99,S,S,N,N,S,N,N,SP1005
1,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"309,82",99,S,S,N,N,S,N,N,SP1115
2,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"309,82",99,S,S,N,N,S,N,N,SP1116

### 3 - Criando a CHAVE_1
   - 3.1 União e combinações possíveis para as seguintes colunas:
      - `URGENCIA`
      - `ELETIVA`
      - `TAXAS`
      - `MATERIAL`
      - `CONSULTA_HONORARIO`
      - `ANESTESISTA`
      - `AUXILIAR`

In [83]:
# Criando a coluna CHAVE_1 concatenando as colunas especificadas
columns = 'URG_ELE_TAX_MAT_CH_ANE_AUX'
df_filtered['CHAVE_1'] = (
   df_filtered['URGENCIA'].astype(str) + ' ' + 
   df_filtered['ELETIVA'].astype(str) + ' ' + 
   df_filtered['TAXAS'].astype(str) + ' ' + 
   df_filtered['MATERIAL'].astype(str) + ' ' + 
   df_filtered['CONSULTA_HONORARIO'].astype(str) + ' ' + 
   df_filtered['ANESTESISTA'].astype(str) + ' ' + 
   df_filtered['AUXILIAR'].astype(str)
)
df_filtered.rename(columns={'CHAVE_1': columns}, inplace=True)
# Salvando para conferir
#df_filtered.to_csv(r'./ARQUIVOS/columns_filtered.csv', sep=';', encoding='latin1', index=False)
# Exibindo as primeiras linhas para verificar
df_filtered.head(2)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE,URG_ELE_TAX_MAT_CH_ANE_AUX
0,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"309,82",99,S,S,N,N,S,N,N,SP1005,S S N N S N N
1,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"309,82",99,S,S,N,N,S,N,N,SP1115,S S N N S N N

In [84]:
print(100*'-')
print(f'CD_SERVIÇO_HONORARIO: {df_filtered["CD_SERVIÇO_HONORARIO"].nunique()}')
print(f'CD_SERVIÇO_HONORARIO:\n {df_filtered["CD_SERVIÇO_HONORARIO"].unique()}')
print(100*'-')
print(f'CD_PROCEDIMENTO_TUSS: {df_filtered["CD_PROCEDIMENTO_TUSS"].nunique()}')
print(f'CD_PROCEDIMENTO_TUSS:\n {df_filtered["CD_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'VALOR_PROPOSTO: {df_filtered["VALOR_PROPOSTO"].nunique()}')
print(f'VALOR_PROPOSTO: \n{df_filtered["VALOR_PROPOSTO"].unique()}')
print(100*'-')
print(f'NOMENCLATURA: {df_filtered["NOMENCLATURA"].nunique()}')
print(f'NOMENCLATURA: \n{df_filtered["NOMENCLATURA"].unique()}')
print(100*'-')
print(f'URG_ELE_TAX_MAT_CH_ANE_AUX: {df_filtered["URG_ELE_TAX_MAT_CH_ANE_AUX"].nunique()}')
print(f'URG_ELE_TAX_MAT_CH_ANE_AUX: \n{df_filtered["URG_ELE_TAX_MAT_CH_ANE_AUX"].unique()}')
print(100*'-')

----------------------------------------------------------------------------------------------------
CD_SERVIÇO_HONORARIO: 51
CD_SERVIÇO_HONORARIO:
 ['10103023' '10103031' '10104020' '20203047' '20103492' '10102019'
 '40402053' '40402061' '40402088' '40402096' '40402118' '40402169'
 '40402045' '50000144' '50000349' '50000365' '50000381' '50000390'
 '50000403' '50000411' '50000420' '50000454' '50000560' '50000608'
 '50000632' '50000691' '50000802' '50000810' '50001019' '50000799'
 '50000829' '50001000' '50001043' '50001051' '98309093' '98309382'
 '98309123' '98309124' '98307000' '98309122' '90019970' '90012593'
 '90019393' '90019636' '98020005' '98402016' '90019440' '90019458'
 '98408126' '90017013' '98401181']
----------------------------------------------------------------------------------------------------
CD_PROCEDIMENTO_TUSS: 46
CD_PROCEDIMENTO_TUSS:
 ['10103023' '10103031' '10104020' '20203047' '20103492' '10102019'
 '40402053' '40402061' '40402088' '40402096' '40402118' '40402169'
 '40402045' '50000144' '50000349' '50000365' '50000381' '50000390'
 '50000403' '50000411' '50000420' '50000454' '50000560' '50000608'
 '50000632' '50000691' '50000802' '50000810' '50001019' '50000799'
 '50000829' '50001000' '50001043' '50001051' '30909139' '30911079'
 '30912032' '30912040' '31002218' '40813177' '30912105' '30909031'
 '40201082' '40812022' '40812057' '40102033']
----------------------------------------------------------------------------------------------------
VALOR_PROPOSTO: 36
VALOR_PROPOSTO:
['309,82' '340,81' '239,41' '33,66' '67,31' '140,83' '412,94' '353,03'
 '371,97' '344,08' '555,09' '1.782,26' '393,55' '52,95' '52,92' '51,01'
 '38,87' '58,3' '86,05' '60,24' '43,73' '48,58' '1.925,80' '4.153,72'
 '62.475,73' '39.195,86' '33.550,39' '44.982,54' '21.194,27' '9.596,04'
 '13.546,54' '17.370,76' '1.476,84' '1.084,59' '4.210,37' '1.032,55']
----------------------------------------------------------------------------------------------------
NOMENCLATURA: 41
NOMENCLATURA:
['ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO (PARTO NORMAL '
 'ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRIC'
 'ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERN'
 'PATOLOGIA OSTEOMIOARTICULAR EM DOIS OU MAIS MEMBROS'
 'VISITA HOSPITALAR ( PACIENTE INTERNADO )'
 'UNIDADE DE CONCENTRADO DE HEMACIAS LAVADAS'
 'UNIDADE DE CONCENTRADO DE PLAQUETAS POR AFERESE'
 'UNIDADE DE CRIOPRECIPITADO DE FATOR ANTI-HEMOFILICO' 'UNIDADE DE PLASMA'
 'DELEUCOTIZACAO DE UNIDADE DE CONCENTRADO DE HEMACIAS - POR U'
 'UNIDADE DE CONCENTRADO DE PLAQUETAS (DUPLA CENTRIFUGACAO)'
 'UNIDADE DE CONCENTRADO DE HEMACIAS'
 'CONSULTA AMBULATORIAL EM FISIOTERAPIA'
 'CONSULTA HOSPITALAR EM FISIOTERAPIA'
 'SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR AO PACIE'
 'SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR NO PRE E'
 'SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR POR ALTE'
 'SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPITALAR PARA ALT'
 'CONSULTA AMBULATORIAL POR NUTRICIONISTA'
 'CONSULTA INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA'
 'SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA'
 'CONSULTA HOSPITALAR POR NUTRICIONISTA'
 'ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE DEPENDEN'
 'ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE COM DISF'
 'ATENDIMENTO FISIOTERAPEUTICO HOSPITALAR AO PACIENTE INDEPEND'
 'ATENDIMENTO FISIOTERAPÊUTICO HOSPITALAR AO PACIENTE COM DEPE'
 'HEMODEPURACAO DE CASOS AGUDOS (SESSAO HEMODIALISE HEMOFILTRACAO HEMODIAFILTRACAO ISOLADA PLASMAFERESE OU HEMOPERFUSAO) - ATE 4 HORAS OU FRACAO'
 'CATETERISMO CARDIACO E E/OU D COM CINEANGIOCORONARIOGRAFIA E VENTRICULOGRAFIA'
 'ANGIOPLASTIA TRANSLUMINAL PERCUTANEA DE MULTIPLOS VASOS COM IMPLANTE DE STENT '
 'ANGIOPLASTIA TRANSLUMINAL PERCUTANEA POR BALAO (1 VASO) '
 'GASTROPLASTIA PARA OBESIDADE MORBIDA - QUALQUER TECNICA'
 'ANGIOPLASTIA TRANSLUMINAL PERCUTANEA' 'ANGIOPLASTIA CORONARIA'
 'ANGIOPLASTIA COM STENTS' 'HEMODIALISE CRONICA (POR SESSAO)'
 'COLONOSCOPIA (INCLUI A RETOSSIGMOIDOSCOPIA)'
 'ARTERIOGRAFIA DE MEMBRO (UNILATERAL)'
 'ARTERIOGRAFIA DE MEMBRO (BILATERAL)' 'ANGIOGRAFIA POR PUNCAO'
 'ANGIOGRAFIA CEREBRAL'
 'MANOMETRIA COMPUTADORIZADA ANORRETAL PARA BIOFEEDBACK - 1ª SESSAO']
----------------------------------------------------------------------------------------------------
URG_ELE_TAX_MAT_CH_ANE_AUX: 2
URG_ELE_TAX_MAT_CH_ANE_AUX:
['S S N N S N N' 'S S S S S S S']
----------------------------------------------------------------------------------------------------

### 4 Demonstração da CHAVE_4
   - 4.1 CHAVE_4 - Concatenado entre as seguintes colunas:
   - `CD_SERVIÇO_HONORARIO`
   - `CD_TIPO_REDE`

In [88]:
# Selecionando as colunas que serão utilizadas
df_key_3 = df_filtered[['ANO_TABELA','CD_SERVIÇO_HONORARIO','VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CH_ANE_AUX','CD_TIPO_REDE', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS']].copy()

df_key_3['CHAVE_3_AUX'] = (
      df_key_3['CD_SERVIÇO_HONORARIO'].astype(str) + '#' +
      df_key_3['VALOR_PROPOSTO'].astype(str) + '#' +
      df_key_3['URG_ELE_TAX_MAT_CH_ANE_AUX'].astype(str) + '#' +
      df_key_3['NOMENCLATURA'].astype(str) + '#' +
      df_key_3['CD_TIPO_ACOMODACAO'].astype(str) + '#' +
      df_key_3['CD_PROCEDIMENTO_TUSS'].astype(str) + '#' +
      df_key_3['ANO_TABELA'].astype(str)
   )
df_key_3['CD_TIPO_REDE'] = df_key_3['CD_TIPO_REDE'].astype(str).str.replace('.0', '')

# ordenando CD_TIPO_REDE
df_key_3.sort_values(by=['CD_TIPO_REDE'], inplace=True)

print(f'Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: {df_key_3.shape}')

df_key_3.drop_duplicates(inplace=True)
# Resetando o index
df_key_3.reset_index(drop=True, inplace=True)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3 após remover as duplicadas: {df_key_3.shape}')

#print(df_key_3.head(3))

# Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de CD_TIPO_REDE


df_key_3_grouped = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .apply(', '.join)
    .reset_index()
)

# Adicionando uma coluna com a quantidade de redes
df_key_3_grouped['QUANTIDADE_REDES'] = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .size()
    .values
)

# Renomeando as colunas para manter o formato desejado
df_key_3_grouped.columns = ['CD_SERVIÇO_HONORARIO', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']

# quebrando a coluna CHAVE_3_AUX em 3 colunas separadas por '#'
df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CH_ANE_AUX', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS', 'ANO_TABELA']] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].str.split('#', expand=True)
# removendo a coluna CHAVE_3_AUX
# reordenando as colunas 
df_key_3_grouped = df_key_3_grouped[['ANO_TABELA','CD_SERVIÇO_HONORARIO','CD_PROCEDIMENTO_TUSS' ,'NOMENCLATURA','VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URG_ELE_TAX_MAT_CH_ANE_AUX', 'QUANTIDADE_REDES', 'CD_TIPO_REDE']].copy()

# reordenando por colunas
df_key_3_grouped.sort_values(by=['URG_ELE_TAX_MAT_CH_ANE_AUX', 'VALOR_PROPOSTO',  'QUANTIDADE_REDES'], inplace=True)
# Resetando o index
df_key_3_grouped.reset_index(drop=True, inplace=True)

df_key_3_grouped['CD_SERVIÇO_HONORARIO'] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].astype(str)

df_key_3_grouped['VALOR_PROPOSTO'] = 'R$ ' + df_key_3_grouped['VALOR_PROPOSTO'].astype(str)


# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3: {df_key_3_grouped.shape}')
df_key_3_grouped.head()

Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: (5814, 9)
Quantidade de linhas e colunas df_key_3 após remover as duplicadas: (5814, 9)
Quantidade de linhas e colunas df_key_3: (51, 9)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,CBHPM 2012,40402169,40402169,UNIDADE DE CONCENTRADO DE PLAQUETAS (DUPLA CEN...,"R$ 1.782,26",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
1,CBHPM 2012,10102019,10102019,VISITA HOSPITALAR ( PACIENTE INTERNADO ),"R$ 140,83",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
2,CBHPM 2012,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 239,41",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
3,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"R$ 309,82",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
4,CBHPM 2012,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"R$ 33,66",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."

### 5 - Salvando por `URG_ELE_TAX_MAT_CON_ANE_AUX`
   - 5.1 - Salvando o arquivo por aba de acordo com as permutas.

In [89]:
# Caminho do arquivo Excel
output_path = r'./ARQUIVOS/ANALISE.xlsx'

# Criando o arquivo Excel com a aba principal
with ExcelWriter(output_path, engine='openpyxl') as writer:
   # Salvando a aba principal
   df_key_3_grouped.to_excel(writer, index=False, sheet_name='GERAL')

   # # renomeando as colunas
   df_key_3_grouped.rename(
      columns={
         'CD_SERVIÇO_HONORARIO': 'CÓDIGO AUTORIZAÇÃO',
         'VALOR_PROPOSTO': 'VALOR',
         'CD_PROCEDIMENTO_TUSS':'CÓDIGO TUSS',
         #'NM_PROCEDIMENTO_TUSS':'NOMENCLATURA',
         },
      inplace=True
   )

    
    # Salvando as abas adicionais
   for num, save in enumerate(df_key_3_grouped['URG_ELE_TAX_MAT_CH_ANE_AUX'].unique()):
      # Filtrando os dados
      df_key_3_grouped_filtered = df_key_3_grouped[df_key_3_grouped['URG_ELE_TAX_MAT_CH_ANE_AUX'] == save].copy()
      nane = f'NEG. {num+1}'
        
      # Salvando no mesmo arquivo Excel com o nome da aba correspondente
      df_key_3_grouped_filtered.to_excel(writer, index=False, sheet_name=nane)
        
df_key_3_grouped.head(10)

,ANO_TABELA,CÓDIGO AUTORIZAÇÃO,CÓDIGO TUSS,NOMENCLATURA,VALOR,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,CBHPM 2012,40402169,40402169,UNIDADE DE CONCENTRADO DE PLAQUETAS (DUPLA CEN...,"R$ 1.782,26",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
1,CBHPM 2012,10102019,10102019,VISITA HOSPITALAR ( PACIENTE INTERNADO ),"R$ 140,83",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
2,CBHPM 2012,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 239,41",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
3,CBHPM 2012,10103023,10103023,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"R$ 309,82",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
4,CBHPM 2012,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"R$ 33,66",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
5,CBHPM 2012,10103031,10103031,ATENDIMENTO AO RECEM-NASCIDO EM SALA DE PARTO ...,"R$ 340,81",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
6,CBHPM 2012,40402096,40402096,UNIDADE DE PLASMA,"R$ 344,08",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
7,CBHPM 2012,40402061,40402061,UNIDADE DE CONCENTRADO DE PLAQUETAS POR AFERESE,"R$ 353,03",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
8,CBHPM 2012,40402088,40402088,UNIDADE DE CRIOPRECIPITADO DE FATOR ANTI-HEMOF...,"R$ 371,97",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."
9,1992,50000381,50000381,SESSAO PARA ASSISTENCIA FISIOTERAPEUTICA HOSPI...,"R$ 38,87",99,S S N N S N N,114,"SP1005, SP1006, SP1008, SP1009, SP103, SP1037,..."