### 1 - Leitura do __arquivo__ para compreensão da situação problema.
   - ler o arquivo.
   - Mostrar a quantidade de linhas e conlunas.
   - mostrar as primeiroas linhas.

In [46]:
# importando as bibliotecas necessárias
import pandas as pd
import numpy as np
from pandas import ExcelWriter

# lendo o arquivo
df = pd.read_csv(r'./modelo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df.shape}')
# Mostrando as colunas
print(f'Colunas: \n {df.columns}')
# Mostrando as primeiras linhas
df.head(3)

Quantidade de linhas e colunas: (2109, 31)
Colunas:
 Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'],
      dtype='object')

,ANO_TABELA,CD_SERVIÇO_HONORARIO,FORA_ROL,RESTRICAO_PRESIDENCIA,TP_SERVIÇO_ATENDIMENTO,SERVICO,NM_SERV_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,DS_PROC_EQUIVALENTES,...,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,LIVRO,WEB,PE,VALOR_ATUAL,VALOR_PROPOSTO,IMPACTO(%)
0,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"
1,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"
2,1240,10102019,NÃO,NÃO,4,INTERNACAO E/OU PQA,VISITA HOSPITALAR ( PACIENTE INTERNADO ),10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),00010090 / 00020010 / 00020028 / 90012631 / 90...,...,N,S,N,N,N,N,NaN,"107,12","113,39","5,85"

### 1.1 - Leitura do arquivo modelo de código
   - Mapear códigos novos.

In [81]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_cod = pd.read_csv(r'./modelo_cod_renomeacao.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_cod.shape}')
# Mostrando as colunas
print(f'Colunas: \n {df_cod.columns}')
# Mostrando as primeiras linhas
df_cod.head(3)

Quantidade de linhas e colunas: (3924, 1)
Colunas:
 Index(['COD_RENOMEACAO'], dtype='object')

   COD_RENOMEACAO
0            4321
1            4322
2            4323

### 1.2 - Leitura do arquivo `COD TABELA PARA - SIGO`
   - Mapear *COD TABELA PARA - SIGO*
   - Mapear *NOME TABELA PARA - SIGO*

In [97]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_sigo = pd.read_csv(r'./de_para_sigo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_sigo.shape}')
#df_sigo = df_sigo.rename(columns={'COD TABELA PARA - SIGO': 'ANO_TABELA', 'NOME TABELA PARA - SIGO': 'DESCRICAO_SIGO'}, inplace=True)
# Mostrando as colunas
print(f'Colunas: \n {df_sigo.columns}')
# Mostrando as primeiras linhas
df_sigo.head(3)

Quantidade de linhas e colunas: (25, 2)
Colunas:
 Index(['ANO_TABELA', 'DESCRICAO'], dtype='object')

   ANO_TABELA    DESCRICAO
0        1240  INTERMEDICA
1        1241     AMB 1990
2        1242     AMB 1992

### 2 - Trazendo as colunas necessárias para o arquivo desejado.
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`
   - `VALOR_PROPOSTO`
   - `CD_TIPO_ACOMODACAO`
   - `URGENCIA`
   - `ELETIVA`
   - `TAXAS`
   - `MATERIAL`
   - `CONSULTA_HONORARIO`
   - `ANESTESISTA`
   - `AUXILIAR`
   - `CD_TIPO_REDE`

In [98]:
# Selecionando as colunas que serão utilizadas
columns_selects = [
   'ANO_TABELA','CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS', 
   'VALOR_PROPOSTO','CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 
   'CONSULTA_HONORARIO','ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE',
] 
# filtrando as colunas
df_filtered = df[columns_selects].copy()
print(df_filtered['ANO_TABELA'].value_counts())
# puxando as informações com np.where do df_sigo que são iguais ao df_filtered
# Criando um dicionário de mapeamento a partir de df_sigo
map_dict = dict(zip(df_sigo['ANO_TABELA'], df_sigo['DESCRICAO']))

# Substituindo os valores em df_filtered['ANO_TABELA'] com base no dicionário
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].map(map_dict).fillna(df_filtered['ANO_TABELA'])

# Mostrando as primeiras linhas para verificar
print(df_filtered['ANO_TABELA'].value_counts())
df_filtered.head(3)
print(df_filtered['ANO_TABELA'].value_counts())
# removendo as duplicatas
df_filtered.drop_duplicates(inplace=True)
# resetando o index
df_filtered.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df: {df.shape}')
print(f'Quantidade de linhas e colunas df_filtered: {df_filtered.shape}')

# Mostrando as primeiras linhas
df_filtered.head(3)

ANO_TABELA
1240    1659
1249     450
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    2109
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    2109
Name: count, dtype: int64
Quantidade de linhas e colunas df: (2109, 31)
Quantidade de linhas e colunas df_filtered: (2109, 14)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE
0,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP1117
1,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP204
2,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP762

### 3 - Criando a CHAVE_1
   - 3.1 União e combinações possíveis para as seguintes colunas:
      - `URGENCIA`
      - `ELETIVA`
      - `TAXAS`
      - `MATERIAL`
      - `CONSULTA_HONORARIO`
      - `ANESTESISTA`
      - `AUXILIAR`

In [99]:
# Criando a coluna CHAVE_1 concatenando as colunas especificadas
columns = 'URG_ELE_TAX_MAT_CH_ANE_AUX'
df_filtered['CHAVE_1'] = (
   df_filtered['URGENCIA'].astype(str) + ' ' + 
   df_filtered['ELETIVA'].astype(str) + ' ' + 
   df_filtered['TAXAS'].astype(str) + ' ' + 
   df_filtered['MATERIAL'].astype(str) + ' ' + 
   df_filtered['CONSULTA_HONORARIO'].astype(str) + ' ' + 
   df_filtered['ANESTESISTA'].astype(str) + ' ' + 
   df_filtered['AUXILIAR'].astype(str)
)
df_filtered.rename(columns={'CHAVE_1': columns}, inplace=True)
# Salvando para conferir
df_filtered.to_csv(r'./ARQUIVOS/columns_filtered.csv', sep=';', encoding='latin1', index=False)
# Exibindo as primeiras linhas para verificar
df_filtered.head(2)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE,URG_ELE_TAX_MAT_CH_ANE_AUX
0,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP1117,S N N N S N N
1,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"113,39",99,S,N,N,N,S,N,N,SP204,S N N N S N N

In [68]:
print(100*'-')
print(f'CD_SERVIÇO_HONORARIO: {df_filtered["CD_SERVIÇO_HONORARIO"].nunique()}')
print(f'CD_SERVIÇO_HONORARIO:\n {df_filtered["CD_SERVIÇO_HONORARIO"].unique()}')
print(100*'-')
print(f'CD_PROCEDIMENTO_TUSS: {df_filtered["CD_PROCEDIMENTO_TUSS"].nunique()}')
print(f'CD_PROCEDIMENTO_TUSS:\n {df_filtered["CD_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'VALOR_PROPOSTO: {df_filtered["VALOR_PROPOSTO"].nunique()}')
print(f'VALOR_PROPOSTO: \n{df_filtered["VALOR_PROPOSTO"].unique()}')
print(100*'-')
print(f'NM_PROCEDIMENTO_TUSS: {df_filtered["NM_PROCEDIMENTO_TUSS"].nunique()}')
print(f'NM_PROCEDIMENTO_TUSS: \n{df_filtered["NM_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'URG_ELE_TAX_MAT_CH_ANE_AUX: {df_filtered["URG_ELE_TAX_MAT_CH_ANE_AUX"].nunique()}')
print(f'URG_ELE_TAX_MAT_CH_ANE_AUX: \n{df_filtered["URG_ELE_TAX_MAT_CH_ANE_AUX"].unique()}')
print(100*'-')

----------------------------------------------------------------------------------------------------
CD_SERVIÇO_HONORARIO: 16
CD_SERVIÇO_HONORARIO:
 [10102019 10104011 10104020 20103280 20203047 40324192 50000632 90010922
 90010949 90010957 90020146 90020162 90020170 90090357 90090365 90090373]
----------------------------------------------------------------------------------------------------
CD_PROCEDIMENTO_TUSS: 11
CD_PROCEDIMENTO_TUSS:
 [10102019 10104011 10104020 20103280 20203047 40324192 50000632 31309062
 31309054 31309135 31309127]
----------------------------------------------------------------------------------------------------
VALOR_PROPOSTO: 7
VALOR_PROPOSTO:
['113,39' '161,99' '286,73' '58,43' '3.074,95' '6.988,51' '1.053,80']
----------------------------------------------------------------------------------------------------
NM_PROCEDIMENTO_TUSS: 11
NM_PROCEDIMENTO_TUSS:
['VISITA HOSPITALAR (PACIENTE INTERNADO)'
 'ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA E POR PACIENTE)'
 'ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRICA (PLANTAO DE 12 HORAS - POR PACIENTE)'
 'HEMIPLEGIA E HEMIPARESIA COM AFASIA'
 'ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERNADO'
 'ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA'
 'SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA'
 'CURETAGEM POS-ABORTAMENTO' 'CESARIANA'
 'PARTO MULTIPLO (CADA UM SUBSEQUENTE AO INICIAL)' 'PARTO (VIA VAGINAL)']
----------------------------------------------------------------------------------------------------
URG_ELE_TAX_MAT_CH_ANE_AUX: 4
URG_ELE_TAX_MAT_CH_ANE_AUX:
['S N N N S N N' 'N S N N S N N' 'S S N N S N N' 'S S S S N N N']
----------------------------------------------------------------------------------------------------

### 4 Demonstração da CHAVE_4
   - 4.1 CHAVE_4 - Concatenado entre as seguintes colunas:
   - `CD_SERVIÇO_HONORARIO`
   - `CD_TIPO_REDE`

In [102]:
# Selecionando as colunas que serão utilizadas
df_key_3 = df_filtered[['ANO_TABELA','CD_SERVIÇO_HONORARIO','VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CH_ANE_AUX','CD_TIPO_REDE', 'NM_PROCEDIMENTO_TUSS', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS']].copy()

df_key_3['CHAVE_3_AUX'] = (
      df_key_3['CD_SERVIÇO_HONORARIO'].astype(str) + '#' +
      df_key_3['VALOR_PROPOSTO'].astype(str) + '#' +
      df_key_3['URG_ELE_TAX_MAT_CH_ANE_AUX'].astype(str) + '#' +
      df_key_3['NM_PROCEDIMENTO_TUSS'].astype(str) + '#' +
      df_key_3['CD_TIPO_ACOMODACAO'].astype(str) + '#' +
      df_key_3['CD_PROCEDIMENTO_TUSS'].astype(str) + '#' +
      df_key_3['ANO_TABELA'].astype(str)
   )

print(f'Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: {df_key_3.shape}')

df_key_3.drop_duplicates(inplace=True)
# Resetando o index
df_key_3.reset_index(drop=True, inplace=True)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3 após remover as duplicadas: {df_key_3.shape}')

#print(df_key_3.head(3))

# Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de CD_TIPO_REDE
df_key_3_grouped = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .apply(', '.join)
    .reset_index()
)

# Adicionando uma coluna com a quantidade de redes
df_key_3_grouped['QUANTIDADE_REDES'] = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .size()
    .values
)

# Renomeando as colunas para manter o formato desejado
df_key_3_grouped.columns = ['CD_SERVIÇO_HONORARIO', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']

# quebrando a coluna CHAVE_3_AUX em 3 colunas separadas por '#'
df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_CH_ANE_AUX', 'NM_PROCEDIMENTO_TUSS', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS', 'ANO_TABELA']] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].str.split('#', expand=True)
# removendo a coluna CHAVE_3_AUX
# reordenando as colunas 
df_key_3_grouped = df_key_3_grouped[['ANO_TABELA','CD_SERVIÇO_HONORARIO','CD_PROCEDIMENTO_TUSS' ,'NM_PROCEDIMENTO_TUSS','VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URG_ELE_TAX_MAT_CH_ANE_AUX', 'QUANTIDADE_REDES', 'CD_TIPO_REDE']].copy()

# reordenando por colunas
df_key_3_grouped.sort_values(by=['URG_ELE_TAX_MAT_CH_ANE_AUX', 'VALOR_PROPOSTO',  'QUANTIDADE_REDES'], inplace=True)
# Resetando o index
df_key_3_grouped.reset_index(drop=True, inplace=True)

df_key_3_grouped['CD_SERVIÇO_HONORARIO'] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].astype(str)

df_key_3_grouped['VALOR_PROPOSTO'] = 'R$ ' + df_key_3_grouped['VALOR_PROPOSTO'].astype(str)


# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3: {df_key_3_grouped.shape}')
df_key_3_grouped.head()

Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: (2109, 9)
Quantidade de linhas e colunas df_key_3 após remover as duplicadas: (2109, 9)
Quantidade de linhas e colunas df_key_3: (22, 9)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,N S N N S N N,50,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
1,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,N S N N S N N,50,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
2,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"R$ 113,39",99,S N N N S N N,237,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
3,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."
4,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."

### 5 - Salvando por `URG_ELE_TAX_MAT_CON_ANE_AUX`
   - 5.1 - Salvando o arquivo por aba de acordo com as permutas.

In [80]:
# Caminho do arquivo Excel
output_path = r'./ARQUIVOS/ANALISE.xlsx'

# Criando o arquivo Excel com a aba principal
with ExcelWriter(output_path, engine='openpyxl') as writer:
   # Salvando a aba principal
   df_key_3_grouped.to_excel(writer, index=False, sheet_name='GERAL')

   # # renomeando as colunas
   df_key_3_grouped.rename(
      columns={
         'CD_SERVIÇO_HONORARIO': 'CÓDIGO AUTORIZAÇÃO',
         'VALOR_PROPOSTO': 'VALOR',
         'CD_PROCEDIMENTO_TUSS':'CÓDIGO TUSS',
         'NM_PROCEDIMENTO_TUSS':'NOMENCLATURA',
         },
      inplace=True
   )

    
    # Salvando as abas adicionais
   for num, save in enumerate(df_key_3_grouped['URG_ELE_TAX_MAT_CH_ANE_AUX'].unique()):
      # Filtrando os dados
      df_key_3_grouped_filtered = df_key_3_grouped[df_key_3_grouped['URG_ELE_TAX_MAT_CH_ANE_AUX'] == save].copy()
      nane = f'NEG. {num+1}'
        
      # Salvando no mesmo arquivo Excel com o nome da aba correspondente
      df_key_3_grouped_filtered.to_excel(writer, index=False, sheet_name=nane)
        
df_key_3_grouped.head(10)

,CÓDIGO AUTORIZAÇÃO,CÓDIGO TUSS,NOMENCLATURA,VALOR,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,N S N N S N N,50,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
1,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,N S N N S N N,50,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
2,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"R$ 113,39",99,S N N N S N N,237,"SP1117, SP204, SP762, SP249, SP250, AE165, SP1..."
3,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."
4,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."
5,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"R$ 58,43",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."
6,40324192,40324192,ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA,"R$ 58,43",99,S N N N S N N,187,"AE31, AE32, AE338, AE341, AE344, AE345, AE363,..."
7,50000632,50000632,SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA,"R$ 58,43",99,S N N N S N N,187,"AE100, AE102, AE106, AE107, AE114, AE115, AE11..."
8,20103280,20103280,HEMIPLEGIA E HEMIPARESIA COM AFASIA,"R$ 58,43",99,S N N N S N N,224,"AE165, SP1116, SP201, AE297, SP251, SP1067, SP..."
9,20103280,20103280,HEMIPLEGIA E HEMIPARESIA COM AFASIA,"R$ 58,43",99,S S N N S N N,13,"SP1117, SP204, SP762, SP249, SP250, SP205, SP2..."