# 1 - Leitura do arquivo extraído do sistema.
- 1.2 Começamos com algumas tratativas nas colunas necessárias que precisamos.
   - Correção de 3 colunas com valores inteiros, removendo __'.0'__ inconsistência.
   - Selecionando somente as colunas necessárias(14) ao invés de 31 colunas.

In [10]:
# importando as bibliotecas necessárias
import pandas as pd
import numpy as np
from pandas import ExcelWriter

# lendo o arquivo
df = pd.read_csv(r'./ARQUIVOS/T2182_DEMAIS_PACOTES_PROTOCOLO_451942_TIPO_PACOTE_2_09042025172425.CSV', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df.shape}')
df['CD_SERVIÇO_HONORARIO'] = df['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
df['CD_PROCEDIMENTO_TUSS'] = df['CD_PROCEDIMENTO_TUSS'].astype(str).str.replace('.0', '')
df['CD_TIPO_ACOMODACAO'] = df['CD_TIPO_ACOMODACAO'].astype(str).str.replace('.0', '')
# Mostrando as colunas
print(f'Colunas: \n {df.columns}')
# Mostrando as primeiras linhas
df.head(3)

Quantidade de linhas e colunas: (119735, 31)
Colunas:
 Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'],
      dtype='object')

,ANO_TABELA,CD_SERVIÇO_HONORARIO,FORA_ROL,RESTRICAO_PRESIDENCIA,TP_SERVIÇO_ATENDIMENTO,SERVICO,NM_SERV_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,DS_PROC_EQUIVALENTES,...,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,LIVRO,WEB,PE,VALOR_ATUAL,VALOR_PROPOSTO,IMPACTO(%)
0,1240,40402010,NÃO,NÃO,4,INTERNACAO E/OU PQA,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,27040160 / 27040690 / 98404020,...,N,S,N,N,S,N,N,"1.196,80","1.220,74",2
1,1240,40402010,NÃO,NÃO,4,INTERNACAO E/OU PQA,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,27040160 / 27040690 / 98404020,...,N,S,N,N,S,N,N,"1.196,80","1.220,74",2
2,1240,40402010,NÃO,NÃO,4,INTERNACAO E/OU PQA,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,27040160 / 27040690 / 98404020,...,N,S,N,N,S,N,N,"1.196,80","1.220,74",2

In [ ]:
colum =['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'] # 31

column = ['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)']

### 1.3 - Leitura do arquivo para Auxiliar na descrição dos proceddimentos.
   - Quando o código deste arquivo for encontrado no arquivo principal, seguirá certas regras específicas.
   - Poderá trazer o nome do procedimento ou o nome do serviço de acordo com cada linha.

In [2]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_cod = pd.read_csv(r'./ARQUIVOS/modelo_cod_renomeacao.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_cod.shape}')
# Renomendando as colunas
df_cod.rename( columns={'COD_RENOMEACAO':'CD_SERVIÇO_HONORARIO'}, inplace=True)
# Convertendo os valores para string e forçando vir 8 dígitos
df_cod['CD_SERVIÇO_HONORARIO'] = df_cod['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
# Mostrando as colunas
print(f'Colunas: \n {df_cod.columns}')
# Mostrando as primeiras linhas
df_cod.head(3)

Quantidade de linhas e colunas: (3924, 1)
Colunas:
 Index(['CD_SERVIÇO_HONORARIO'], dtype='object')

  CD_SERVIÇO_HONORARIO
0             00004321
1             00004322
2             00004323

### 1.4 - Leitura do arquivo `De Para` para Auxiliar a confecção do arquivo principal.
   - Correção de 1 coluna com valore inteiro, removendo __'.0'__ inconsistência.
   - Formando um dicionário para criar um mecanismo de chave de busca.
   - Usar a nova coluna chave para auxiliar no material principal.

In [3]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_sigo = pd.read_csv(r'./ARQUIVOS/de_para_sigo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_sigo.shape}')

# Convertendo os valores para string e forçando vir 8 dígitos
df_sigo['ANO_TABELA'] = df_sigo['ANO_TABELA'].astype(str).str.replace('.0', '').str.zfill(8)

# Mostrando as colunas
print(f'Colunas: \n {df_sigo.columns}')
# Mostrando as primeiras linhas
df_sigo.head(3)

Quantidade de linhas e colunas: (25, 2)
Colunas:
 Index(['ANO_TABELA', 'DESCRICAO'], dtype='object')

  ANO_TABELA    DESCRICAO
0   00001240  INTERMEDICA
1   00001241     AMB 1990
2   00001242     AMB 1992

- 2 - Processando as colunas do arquivo principal
   - 2.1 - Selecionando as (12) colunas que usaremos.
   - 2.2- Criamos um dicionário para mapear as chaves de busca e trazer os valores do item *`1.4`*.
   - 2.3 - Substituindo os valores em df com base no dicionário.
   - 2.4 - filtrar o que precisamos.
   
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`
   - `VALOR_PROPOSTO`
   - `CD_TIPO_ACOMODACAO`
   - `URGENCIA`
   - `ELETIVA`
   - `TAXAS`
   - `MATERIAL`
   - `CONSULTA_HONORARIO`
   - `ANESTESISTA`
   - `AUXILIAR`
   - `CD_TIPO_REDE`

In [11]:
# Selecionando as colunas que serão utilizadas
columns_selects = [
   'ANO_TABELA','CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_SERV_HONORARIO', 'NM_PROCEDIMENTO_TUSS', 
   'VALOR_PROPOSTO','CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 'MEDICAMENTO',
   'CONSULTA_HONORARIO','ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE',
] 
# filtrando as colunas
df_filtered = df[columns_selects].copy()
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].astype(str).str.replace('.0', '').str.zfill(8)
print(df_filtered['ANO_TABELA'].value_counts())
# puxando as informações com np.where do df_sigo que são iguais ao df_filtered
# Criando um dicionário de mapeamento a partir de df_sigo
map_dict = dict(zip(df_sigo['ANO_TABELA'], df_sigo['DESCRICAO']))

# Substituindo os valores em df_filtered['ANO_TABELA'] com base no dicionário
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].map(map_dict).fillna(df_filtered['ANO_TABELA'])

# Mostrando as primeiras linhas para verificar
print(df_filtered['ANO_TABELA'].value_counts())
df_filtered.head(3)
print(df_filtered['ANO_TABELA'].value_counts()) 

# Buscando os valores que estão no df_cod e no df_filtered NM_PROCEDIMENTO_TUSS NM_SERV_HONORARIO
df_filtered['NOMENCLATURA'] = np.where(df_filtered['CD_SERVIÇO_HONORARIO'].isin(df_cod['CD_SERVIÇO_HONORARIO']), df_filtered['NM_SERV_HONORARIO'], df_filtered['NM_PROCEDIMENTO_TUSS'])
# Mostrando os valores que estão no df_cod e no df_filtered
print(df_filtered['NOMENCLATURA'].value_counts())

columns_selects= ['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NOMENCLATURA', 'VALOR_PROPOSTO',
   'CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE']

df_filtered = df_filtered[columns_selects].copy()
# removendo as duplicatas
df_filtered.drop_duplicates(inplace=True)
# resetando o index
df_filtered.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df: {df.shape}')
print(f'Quantidade de linhas e colunas df_filtered: {df_filtered.shape}')

# Mostrando as primeiras linhas
df_filtered.head(3)

ANO_TABELA
00001240    119198
00001249       537
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    119735
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    119735
Name: count, dtype: int64
NOMENCLATURA
NAT/HIV POR COMPONENTE HEMOTERAPICO - PESQUISA E/OU DOSAGEM                                                                                214
ACOMPANHAMENTO MEDICO PARA TRANSPORTE INTRA-HOSPITALAR DE PACIENTES GRAVES COM VENTILACAO ASSISTIDA DA UTI PARA O CENTRO DE DIAGNOSITCO    214
NAT/HCV POR COMPONENTE HEMOTERAPICO - PESQUISA E/OU DOSAGEM                                                                                214
ASSISTENCIA FISIATRICA RESPIRATORIA EM PRE E POS-OPERATORIO DE CONDICOES CIRURGICAS                                                        109
HEMOGLOBINOPATIAS NEONATAL SANGUE PERIFERICO                                                                                               107
                                                                                                                                          ...
ARTRODESE (COM OU SEM ALONGAMENTO SIMULTANEO) COM FIXADOR EXTERNO                                                                          107
INCONTINENCIA URINARIA MASCULINA - "SLING"                                                                                                 107
IDENTIFICACAO DE MUTACAO POR SEQUENCIAMENTO DO DNA POR 100 PARES DE BASE SEQUENCIADAS POR AMOSTRA                                          107
ACETILCOLINA ANTICORPOS LIGADOR RECEPTOR                                                                                                   107
NEFRECTOMIA PARCIAL LAPAROSCOPICA UNILATERAL                                                                                               107
Name: count, Length: 1116, dtype: int64
Quantidade de linhas e colunas df: (119735, 31)
Quantidade de linhas e colunas df_filtered: (119630, 15)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE
0,INTERMEDICA,40402010,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,"1.220,74",99,N,S,N,N,N,S,N,N,SP455
1,INTERMEDICA,40402010,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,"1.220,74",99,N,S,N,N,N,S,N,N,SP250
2,INTERMEDICA,40402010,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,"1.220,74",99,N,S,N,N,N,S,N,N,AE165

### 3 - Criando a CHAVE_1
   - 3.1 União e combinações possíveis para as seguintes colunas:
      - `URGENCIA`
      - `ELETIVA`
      - `TAXAS`
      - `MATERIAL`
      - `CONSULTA_HONORARIO`
      - `ANESTESISTA`
      - `AUXILIAR`

In [6]:
df_filtered.columns

Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS',
       'NOMENCLATURA', 'VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URGENCIA',
       'ELETIVA', 'TAXAS', 'MATERIAL', 'CONSULTA_HONORARIO', 'ANESTESISTA',
       'AUXILIAR', 'CD_TIPO_REDE'],
      dtype='object')

In [12]:
# Criando a coluna CHAVE_1 concatenando as colunas especificadas
columns = 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX'
df_filtered['CHAVE_1'] = (
   df_filtered['URGENCIA'].astype(str) + ' ' + 
   df_filtered['ELETIVA'].astype(str) + ' ' + 
   df_filtered['TAXAS'].astype(str) + ' ' + 
   df_filtered['MATERIAL'].astype(str) + ' ' +
   df_filtered['MEDICAMENTO'].astype(str) + ' ' +
   df_filtered['CONSULTA_HONORARIO'].astype(str) + ' ' + 
   df_filtered['ANESTESISTA'].astype(str) + ' ' + 
   df_filtered['AUXILIAR'].astype(str)
)
df_filtered.rename(columns={'CHAVE_1': columns}, inplace=True)
# Salvando para conferir
#df_filtered.to_csv(r'./ARQUIVOS/columns_filtered.csv', sep=';', encoding='latin1', index=False)
# Exibindo as primeiras linhas para verificar
df_filtered.head(2)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE,URG_ELE_TAX_MAT_MED_CH_ANE_AUX
0,INTERMEDICA,40402010,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,"1.220,74",99,N,S,N,N,N,S,N,N,SP455,N S N N N S N N
1,INTERMEDICA,40402010,40402010,MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTI...,"1.220,74",99,N,S,N,N,N,S,N,N,SP250,N S N N N S N N

In [13]:
print(100*'-')
print(f'CD_SERVIÇO_HONORARIO: {df_filtered["CD_SERVIÇO_HONORARIO"].nunique()}')
print(f'CD_SERVIÇO_HONORARIO:\n {df_filtered["CD_SERVIÇO_HONORARIO"].unique()}')
print(100*'-')
print(f'CD_PROCEDIMENTO_TUSS: {df_filtered["CD_PROCEDIMENTO_TUSS"].nunique()}')
print(f'CD_PROCEDIMENTO_TUSS:\n {df_filtered["CD_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'VALOR_PROPOSTO: {df_filtered["VALOR_PROPOSTO"].nunique()}')
print(f'VALOR_PROPOSTO: \n{df_filtered["VALOR_PROPOSTO"].unique()}')
print(100*'-')
print(f'NOMENCLATURA: {df_filtered["NOMENCLATURA"].nunique()}')
print(f'NOMENCLATURA: \n{df_filtered["NOMENCLATURA"].unique()}')
print(100*'-')
print(f'URG_ELE_TAX_MAT_MED_CH_ANE_AUX: {df_filtered["URG_ELE_TAX_MAT_MED_CH_ANE_AUX"].nunique()}')
print(f'URG_ELE_TAX_MAT_MED_CH_ANE_AUX: \n{df_filtered["URG_ELE_TAX_MAT_MED_CH_ANE_AUX"].unique()}')
print(100*'-')

----------------------------------------------------------------------------------------------------
CD_SERVIÇO_HONORARIO: 1119
CD_SERVIÇO_HONORARIO:
 ['40402010' '40202674' '40202747' ... '31005551' '31003575' '40202500']
----------------------------------------------------------------------------------------------------
CD_PROCEDIMENTO_TUSS: 1113
CD_PROCEDIMENTO_TUSS:
 ['40402010' '40202674' '40202747' ... '31005551' '31003575' '40202500']
----------------------------------------------------------------------------------------------------
VALOR_PROPOSTO: 703
VALOR_PROPOSTO:
['1.220,74' '474,3' '318,32' '160,49' '2.086,19' '124,85' '2.145,66'
 '59,52' '749,76' '60,57' '873,12' '1.502,21' '2.849,13' '284,16' '753,98'
 '43,26' '2.911,08' '204,98' '466,34' '3.482,94' '21,51' '215,67'
 '1.555,93' '1.387,44' '694,26' '12.629,31' '161,24' '1.176,57' '2.499,15'
 '45,84' '540,6' '535,73' '279,07' '1.417,56' '94,24' '860,72' '401,17'
 '29,47' '1.192,48' '308,81' '1.313,75' '880,64' '1.773,18' '1.418,03'
 '1.456,29' '1.857,57' '1.546,32' '186,24' '402,45' '52,22' '71,81'
 '124,59' '427,58' '209,09' '376,71' '21,44' '801,31' '791,29' '1.032,65'
 '10.787,47' '278,39' '61,21' '150,91' '125,8' '277,74' '106,59' '586,7'
 '704,21' '625,77' '296,59' '39,14' '248,82' '1.767,41' '154,22'
 '1.234,20' '337,82' '320,85' '717,68' '724,93' '1.059,82' '76,85'
 '563,77' '1.607,52' '483,94' '211,99' '1.656,63' '117,65' '265,5' '87,19'
 '321,32' '246,37' '917,78' '492,79' '68,85' '478,83' '119,27' '558,05'
 '157,01' '292,83' '330,86' '87,17' '340,14' '13,92' '52,64' '1.301,93'
 '2.013,06' '1.617,13' '912,7' '36,52' '1.093,85' '128,99' '14.696,16'
 '221,17' '2.117,10' '44,06' '2.428,77' '288,42' '4,08' '180,69' '215,22'
 '2.240,80' '106,12' '166,46' '492,25' '320,86' '119,86' '79,79' '25,98'
 '555,22' '196,66' '15,74' '443,77' '1.026,32' '32,31' '16,9' '2.834,22'
 '359,86' '268,58' '202,05' '578,54' '287,9' '318,65' '357,67' '32,64'
 '424,73' '162,69' '196,39' '105,55' '599,67' '547,82' '188,18' '2.956,08'
 '779,18' '159,86' '70,19' '4.671,50' '699,92' '99,6' '454,46' '290,01'
 '1.405,97' '83,52' '2.684,35' '622,61' '1.175,45' '258,67' '736,71'
 '431,69' '613,55' '71,01' '690,12' '231,65' '14,19' '197,04' '178,96'
 '1.265,62' '105,17' '387,6' '1,99' '883,32' '2.748,00' '352,55'
 '1.342,32' '269,37' '667,36' '370,41' '985,63' '43,67' '16,32' '1.931,53'
 '229,3' '5,28' '156,29' '454,61' '1.228,49' '8,16' '1.277,20' '34,57'
 '79,75' '36,44' '616,73' '833,54' '21,2' '732,77' '404,27' '392,49'
 '299,46' '1.745,32' '904,94' '111,68' '3.425,16' '45,91' '192,27'
 '290,79' '1.815,60' '498,98' '1.974,47' '867,2' '1.870,43' '420,21'
 '313,92' '304,94' '96,29' '1.799,27' '828,24' '2.286,01' '1.715,23'
 '91,39' '1.612,91' '346,87' '114,44' '50,08' '2.042,04' '175,65' '220,51'
 '308,55' '76,63' '547,09' '2.916,78' '39,45' '139,7' '259,76' '116,01'
 '2.933,52' '2.249,06' '18,06' '81,15' '849,78' '1.467,17' '56,8' '14,25'
 '121,54' '541,06' '1.618,13' '115,87' '208,9' '73,75' '157,63' '606,12'
 '104,45' '427,19' '1.026,98' '135,56' '2.273,44' '81,75' '1.976,75'
 '741,58' '1.982,06' '281,89' '907,8' '109,25' '40,83' '4.598,82'
 '1.518,39' '21,25' '1.870,56' '2.224,98' '332,87' '2.256,45' '21,11'
 '57,2' '58,31' '193,39' '248,99' '278,66' '1.111,80' '25,23' '137,09'
 '3.695,01' '78,15' '61,26' '117,64' '728,69' '38,51' '24,48' '847,72'
 '496,45' '1.281,12' '2.071,89' '30,87' '427,95' '75,51' '298,17' '17,06'
 '344,11' '317,13' '796,01' '277,14' '817,22' '461,86' '1.286,83' '97,99'
 '159,19' '1.261,66' '748,27' '1.333,09' '131,33' '462,7' '2.490,18'
 '505,35' '1.717,22' '69,77' '1.338,55' '537,09' '451,25' '1.043,66'
 '3.430,06' '1.428,00' '85,63' '2.826,78' '140,42' '758,47' '2.106,86'
 '89,82' '110,55' '76,97' '2.593,25' '1.485,53' '132,68' '1.691,79'
 '127,56' '214,02' '154,51' '134,44' '161,04' '266,75' '519,79' '364,26'
 '301,31' '1.776,84' '345,15' '1.368,84' '316,53' '44,1' '226,56' '79,56'
 '745,89' '399,84' '18,48' '1.180,09' '72,35' '1.103,64' '206,24'
 '1.091,75' '315,37' '138,06' '177,88' '139,84' '1.693,61' '734,99'
 '1.135,46' '542,48' '174,83' '452,88' '999,75' '2.323,56' '525,45'
 '870,26' '444,88' '163,2' '287,28' '344,32' '2.370,68' '1.867,54'
 '353,33' '304,09' '59,12' '158,48' '310,23' '228,6' '660,45' '685,64'
 '579,6' '693,19' '64,12' '1.568,76' '341,5' '2.476,27' '687,81' '264,36'
 '355,1' '225,59' '63,13' '73,91' '973,21' '1.427,42' '6.929,88' '81,49'
 '995,11' '308,45' '70,29' '720,83' '326,83' '553,08' '697,88' '566,61'
 '124,7' '864,96' '414,49' '7,48' '147,97' '3.999,56' '138,28' '427,48'
 '17,85' '203,8' '195,84' '775,61' '91,46' '2.941,97' '258,24' '812,65'
 '553,82' '301,32' '1.007,07' '128,46' '11,21' '173,4' '59,19' '2.852,04'
 '220,42' '1.266,74' '150,2' '196,03' '1.597,95' '267,15' '650,68' '147,1'
 '22,29' '305,18' '2.527,43' '1.029,38' '130,69' '1.658,74' '66,3'
 '237,69' '94,86' '47,27' '335,78' '1.730,07' '151,57' '165,12' '38,09'
 '195,23' '1.465,35' '3.972,43' '149,74' '251,94' '934,97' '4.195,40'
 '1.066,51' '48,73' '184,4' '169,92' '1.563,41' '408,09' '1.168,51'
 '260,51' '628,32' '76,95' '353,59' '362,3' '118,07' '1.365,67' '855,46'
 '1.986,96' '332,44' '240,2' '704,45' '102,59' '113,75' '1.023,67'
 '684,22' '75,55' '295,55' '355,08' '354,72' '57,59' '2.325,18' '229,95'
 '2.166,84' '1.753,53' '2.596,46' '433,33' '36,75' '172,46' '176,45'
 '159,93' '942,07' '143,62' '186,98' '53,16' '86,7' '52,28' '705,84'
 '69,29' '2.174,56' '1.978,80' '1.259,18' '170,54' '2.451,88' '180,27'
 '185,13' '574,69' '306,31' '13,37' '200,46' '254,37' '78,48' '71,2'
 '86,06' '1.125,16' '146,67' '821,48' '95,59' '54,29' '966,28' '53,11'
 '355,56' '376,58' '32,72' '1.318,66' '396,53' '186,93' '1.351,19' '12,62'
 '112,78' '3.458,46' '447,64' '1.872,71' '151,51' '39,27' '1.751,77'
 '314,58' '249,7' '500,21' '1.392,66' '197,07' '1.345,18' '393,28' '64,84'
 '237,42' '247,57' '208,29' '1.583,10' '3.217,08' '77,91' '47,74' '25,42'
 '72,63' '469,66' '1.963,20' '160,56' '463,13' '287,21' '88,13' '35,5'
 '35,14' '3.479,36' '2.498,80' '35,38' '32,8' '14,65' '2.399,45' '986,95'
 '95,72' '135,22' '766,87' '285,54' '1.737,75' '1.615,68' '95,73'
 '3.034,86' '501,42' '740,19' '540,82' '173,15' '20,46' '605,53' '332,25'
 '534,06' '135,78' '36,86' '3.146,34' '1.173,00' '399,15' '759,15'
 '1.966,51' '285,91' '651,98' '44,54' '492,7' '87,41' '902,18' '3.205,66'
 '249,68' '2.979,90' '270,1' '128,93' '83,13' '179,86' '233,76' '849,83'
 '14,89' '2.059,13' '1.246,26' '2.349,83' '497,76' '376,37' '2.183,21'
 '177' '73,56' '3.888,20' '976,08' '409,71' '139,88' '953,09' '158,77'
 '78,9' '91,75' '2.775,62' '2.091,00' '36,21' '3.470,61' '5.402,98'
 '132,45' '403,92' '58,84' '60,29' '1.170,96' '1.627,05' '20,78' '180,11'
 '391,68' '66,78' '706,49' '165,27' '1.442,28' '61,55' '188,15' '445,17'
 '320,69' '707,18' '1.383,41' '1.803,56' '184,21' '7,36' '77,75' '752,84'
 '144,5' '76,67' '75,68' '1.539,95' '21,93' '381,76' '289,46' '374,95'
 '54,46' '1.358,23' '525,5' '79,92' '1.521,99' '626,63' '1.013,21' '327,9'
 '69,46' '236,27' '137,08' '166,36' '243,07' '263,85' '140,43' '1.391,59'
 '2.003,96' '28,21' '91,34' '271,96' '29,27' '1.271,93' '218,67' '179,52'
 '600,9' '1.713,20']
----------------------------------------------------------------------------------------------------
NOMENCLATURA: 1116
NOMENCLATURA:
['MATERIAL DESCARTAVEL (KIT) E SOLUCOES PARA UTILIZACAO DE PROCESSADORA AUTOMATICA DE SANGUE / AUTO TRANSFUSAO INTRA-OPERATORIA'
 'COLONOSCOPIA COM DILATACAO SEGMENTAR '
 'ENDOSCOPIA DIGESTIVA ALTA COM CROMOSCOPIA E BIOPSIA E/OU CITOLOGIA' ...
 'COLEDOCOTOMIA OU COLEDOCOSTOMIA SEM COLECISTECTOMIA POR VIDEOLAPAROSCOPIA'
 'AMPUTACAO ABDOMINO-PERINEAL DO RETO (COMPLETA) POR VIDEOLAPAROSCOPIA'
 'PAPILOTOMIA E DILATACAO BILIAR OU PANCREATICA']
----------------------------------------------------------------------------------------------------
URG_ELE_TAX_MAT_MED_CH_ANE_AUX: 7
URG_ELE_TAX_MAT_MED_CH_ANE_AUX:
['N S N N N S N N' 'N S N N N S S S' 'S N S N N N S N' 'S S N N N S N N'
 'S S N N N S S S' 'N S S S S S N N' 'S S S N N N S N']
----------------------------------------------------------------------------------------------------

- 4 - Processando as regras do jurídico para utilizar o arquivo.
    - 4.1 - Selecionando as colunas que serão utilizadas.
    - 4.2 - Concatenando as informações que precisamos em uma única coluna.
    - 4.3 - Removendo inconsistências da coluna e transformando em tipo String.
    - 4.4 - Ordenando `CD_TIPO_REDE`.
    - 4.5 - Removendo as duplicadas e resetando o index da nova tabela.
    - 4.6 - Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de `CD_TIPO_REDE` por '#".
        - Adicionando uma coluna com a quantidade de redes.
    - 4.7 - Renomeando as colunas para manter o formato desejado.
    - 4.8 - Quebrando a coluna CHAVE em 3 colunas separadas por '#'.
        - Reordenando as colunas desejadas.
    - 4.9 - Ordenando a o df por:
        -   ´URG_ELE_TAX_MAT_CH_ANE_AUX´.
        -   ´VALOR_PROPOSTO´.
        -   ´QUANTIDADE_REDES´.

In [ ]:
# Selecionando as colunas que serão utilizadas
df_key_3 = df_filtered[['ANO_TABELA','CD_SERVIÇO_HONORARIO','VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX','CD_TIPO_REDE', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS']].copy()
# Concatenando as informações que precisamos em uma única coluna.
df_key_3['CHAVE_3_AUX'] = (
      df_key_3['CD_SERVIÇO_HONORARIO'].astype(str) + '@' +
      df_key_3['VALOR_PROPOSTO'].astype(str) + '@' +
      df_key_3['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'].astype(str) + '@' +
      df_key_3['NOMENCLATURA'].astype(str) + '@' +
      df_key_3['CD_TIPO_ACOMODACAO'].astype(str) + '@' +
      df_key_3['CD_PROCEDIMENTO_TUSS'].astype(str) + '@' +
      df_key_3['ANO_TABELA'].astype(str)
   )
# Removendo inconsistências da coluna e transformando em tipo String.
df_key_3['CD_TIPO_REDE'] = df_key_3['CD_TIPO_REDE'].astype(str).str.replace('.0', '')

# ordenando CD_TIPO_REDE
df_key_3.sort_values(by=['CD_TIPO_REDE'], inplace=True)

print(f'Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: {df_key_3.shape}')
# Removendo as duplicadas
df_key_3.drop_duplicates(inplace=True)
# Resetando o index
df_key_3.reset_index(drop=True, inplace=True)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3 após remover as duplicadas: {df_key_3.shape}')

#print(df_key_3.head(3))

# Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de CD_TIPO_REDE


df_key_3_grouped = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .apply(', '.join)
    .reset_index()
)

# Adicionando uma coluna com a quantidade de redes
df_key_3_grouped['QUANTIDADE_REDES'] = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .size()
    .values
)

# Renomeando as colunas para manter o formato desejado
df_key_3_grouped.columns = ['CD_SERVIÇO_HONORARIO', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']

# quebrando a coluna CHAVE_3_AUX em 3 colunas separadas por '#'
df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS', 'ANO_TABELA']] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].str.split('@', expand=True)
# removendo a coluna CHAVE_3_AUX
# reordenando as colunas 
df_key_3_grouped = df_key_3_grouped[['ANO_TABELA','CD_SERVIÇO_HONORARIO','CD_PROCEDIMENTO_TUSS' ,'NOMENCLATURA','VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'QUANTIDADE_REDES', 'CD_TIPO_REDE']].copy()

# reordenando por colunas
df_key_3_grouped.sort_values(by=['URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'VALOR_PROPOSTO', 'QUANTIDADE_REDES'], inplace=True)
# Resetando o index
df_key_3_grouped.reset_index(drop=True, inplace=True)

df_key_3_grouped['CD_SERVIÇO_HONORARIO'] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].astype(str)

df_key_3_grouped['VALOR_PROPOSTO'] = 'R$ ' + df_key_3_grouped['VALOR_PROPOSTO'].astype(str)


# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3: {df_key_3_grouped.shape}')
df_key_3_grouped.head()

Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: (119630, 9)
Quantidade de linhas e colunas df_key_3 após remover as duplicadas: (119630, 9)
Quantidade de linhas e colunas df_key_3: (2108, 9)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_MED_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,INTERMEDICA,40503240,40503240,RASTREAMENTO PRE-NATAL OU POS-NATAL DE TODO O ...,"R$ 1,99",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
1,INTERMEDICA,31307272,31307272,SECCAO LAPAROSCOPICA DE LIGAMENTOS UTERO-SACROS,"R$ 1.007,07",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
2,INTERMEDICA,30915058,30915058,DRENAGEM DO PERICARDIO POR VIDEO,"R$ 1.013,21",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
3,INTERMEDICA,30724260,30724260,RECONSTRUCAO DE QUADRIL COM FIXADOR EXTERNO,"R$ 1.023,67",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
4,INTERMEDICA,40202704,40202704,COLONOSCOPIA COM ESTENOSTOMIA,"R$ 1.026,32",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."

### 5 - Salvando por `URG_ELE_TAX_MAT_CON_ANE_AUX`
   - 5.1 - Salvando o arquivo por aba de acordo com as permutas.

In [17]:
# Caminho do arquivo Excel
output_path = r'./ARQUIVOS/ANALISE NEW.xlsx'

# Criando o arquivo Excel com a aba principal
with ExcelWriter(output_path, engine='openpyxl') as writer:
   # Salvando a aba principal
   df_key_3_grouped.to_excel(writer, index=False, sheet_name='GERAL')

   # # renomeando as colunas
   df_key_3_grouped.rename(
      columns={
         'CD_SERVIÇO_HONORARIO': 'CÓDIGO AUTORIZAÇÃO',
         'VALOR_PROPOSTO': 'VALOR',
         'CD_PROCEDIMENTO_TUSS':'CÓDIGO TUSS',
         },
      inplace=True
   )

    
    # Salvando as abas adicionais
   for num, save in enumerate(df_key_3_grouped['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'].unique()):
      # Filtrando os dados
      df_key_3_grouped_filtered = df_key_3_grouped[df_key_3_grouped['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'] == save].copy()
      nane = f'NEG. {num+1}'
        
      # Salvando no mesmo arquivo Excel com o nome da aba correspondente
      df_key_3_grouped_filtered.to_excel(writer, index=False, sheet_name=nane)
print(f'df_key_3_grouped: {df_key_3_grouped.shape}')     
df_key_3_grouped.head(10)

df_key_3_grouped: (2108, 9)

,ANO_TABELA,CÓDIGO AUTORIZAÇÃO,CÓDIGO TUSS,NOMENCLATURA,VALOR,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_MED_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,INTERMEDICA,40503240,40503240,RASTREAMENTO PRE-NATAL OU POS-NATAL DE TODO O ...,"R$ 1,99",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
1,INTERMEDICA,31307272,31307272,SECCAO LAPAROSCOPICA DE LIGAMENTOS UTERO-SACROS,"R$ 1.007,07",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
2,INTERMEDICA,30915058,30915058,DRENAGEM DO PERICARDIO POR VIDEO,"R$ 1.013,21",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
3,INTERMEDICA,30724260,30724260,RECONSTRUCAO DE QUADRIL COM FIXADOR EXTERNO,"R$ 1.023,67",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
4,INTERMEDICA,40202704,40202704,COLONOSCOPIA COM ESTENOSTOMIA,"R$ 1.026,32",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
5,INTERMEDICA,31009336,31009336,HERNIORRAFIA INGUINAL - UNILATERAL POR VIDEOLA...,"R$ 1.026,98",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
6,INTERMEDICA,31304052,31304052,LAQUEADURA TUBARIA LAPAROSCOPICA,"R$ 1.026,98",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
7,INTERMEDICA,31009239,31009239,ONFALOCELE/GASTROSQUISE - SEGUNDO TEMPO - TRAT...,"R$ 1.029,38",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
8,INTERMEDICA,31102239,31102239,TRANSURETEROSTOMIA,"R$ 1.029,38",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."
9,INTERMEDICA,30302030,30302030,EXENTERACAO COM OSTEOTOMIA,"R$ 1.032,65",99,N S N N N S N N,103,"AE163, AE165, AE296, AE297, AE354, AE359, AE38..."