# 1 - Leitura do arquivo extraído do sistema.
- 1.2 Começamos com algumas tratativas nas colunas necessárias que precisamos.
   - Correção de 3 colunas com valores inteiros, removendo __'.0'__ inconsistência.
   - Selecionando somente as colunas necessárias(14) ao invés de 31 colunas.

In [1]:
# importando as bibliotecas necessárias
import pandas as pd
import numpy as np
from pandas import ExcelWriter

# lendo o arquivo
df = pd.read_csv(r'./ARQUIVOS/EXPEDITO SÃO CAMILO.CSV', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df.shape}')
df['CD_SERVIÇO_HONORARIO'] = df['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
df['CD_PROCEDIMENTO_TUSS'] = df['CD_PROCEDIMENTO_TUSS'].astype(str).str.replace('.0', '')
df['CD_TIPO_ACOMODACAO'] = df['CD_TIPO_ACOMODACAO'].astype(str).str.replace('.0', '')
# Mostrando as colunas
print(f'Colunas: \n {df.columns}')
# Mostrando as primeiras linhas
df.head(3)

Quantidade de linhas e colunas: (2109, 31)
Colunas:
 Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'FORA_ROL',
       'RESTRICAO_PRESIDENCIA', 'TP_SERVIÇO_ATENDIMENTO', 'SERVICO',
       'NM_SERV_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_PROCEDIMENTO_TUSS',
       'DS_PROC_EQUIVALENTES', 'CD_TIPO_ACOMODACAO', 'DS_TIPO_ACOMODACAO',
       'CD_TIPO_REDE', 'DS_TIPO_REDE_ATENDIMENTO', 'FL_RESTRICAO_AMBULATORIAL',
       'INDIVIDUAL', 'EMPRESARIAL', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL',
       'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'LIVRO',
       'WEB', 'PE', 'VALOR_ATUAL', 'VALOR_PROPOSTO', 'IMPACTO(%)'],
      dtype='object')

,ANO_TABELA,CD_SERVIÇO_HONORARIO,FORA_ROL,RESTRICAO_PRESIDENCIA,TP_SERVIÇO_ATENDIMENTO,SERVICO,NM_SERV_HONORARIO,CD_PROCEDIMENTO_TUSS,NM_PROCEDIMENTO_TUSS,DS_PROC_EQUIVALENTES,...,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,LIVRO,WEB,PE,VALOR_ATUAL,VALOR_PROPOSTO,IMPACTO(%)
0,1240,20203047,NÃO,NÃO,3,TRAT. POR SESSÃO,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,25040014 / 25101021 / 50001000 / 98202031,...,N,S,N,N,N,N,NaN,"55,2","58,43","5,85"
1,1240,20203047,NÃO,NÃO,3,TRAT. POR SESSÃO,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,25040014 / 25101021 / 50001000 / 98202031,...,N,S,N,N,N,N,NaN,"55,2","58,43","5,85"
2,1240,20203047,NÃO,NÃO,3,TRAT. POR SESSÃO,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,25040014 / 25101021 / 50001000 / 98202031,...,N,S,N,N,N,N,NaN,"55,2","58,43","5,85"

### 1.3 - Leitura do arquivo para Auxiliar na descrição dos proceddimentos.
   - Quando o código deste arquivo for encontrado no arquivo principal, seguirá certas regras específicas.
   - Poderá trazer o nome do procedimento ou o nome do serviço de acordo com cada linha.

In [2]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_cod = pd.read_csv(r'./ARQUIVOS/modelo_cod_renomeacao.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_cod.shape}')
# Renomendando as colunas
df_cod.rename( columns={'COD_RENOMEACAO':'CD_SERVIÇO_HONORARIO'}, inplace=True)
# Convertendo os valores para string e forçando vir 8 dígitos
df_cod['CD_SERVIÇO_HONORARIO'] = df_cod['CD_SERVIÇO_HONORARIO'].astype(str).str.replace('.0', '').str.zfill(8)
# Mostrando as colunas
print(f'Colunas: \n {df_cod.columns}')
# Mostrando as primeiras linhas
df_cod.head(3)

Quantidade de linhas e colunas: (3924, 1)
Colunas:
 Index(['CD_SERVIÇO_HONORARIO'], dtype='object')

  CD_SERVIÇO_HONORARIO
0             00004321
1             00004322
2             00004323

### 1.4 - Leitura do arquivo `De Para` para Auxiliar a confecção do arquivo principal.
   - Correção de 1 coluna com valore inteiro, removendo __'.0'__ inconsistência.
   - Formando um dicionário para criar um mecanismo de chave de busca.
   - Usar a nova coluna chave para auxiliar no material principal.

In [3]:
# importando as bibliotecas necessárias
import pandas as pd


# lendo o arquivo
df_sigo = pd.read_csv(r'./ARQUIVOS/de_para_sigo.csv', sep=';', encoding='latin1', low_memory=False)
# mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas: {df_sigo.shape}')

# Convertendo os valores para string e forçando vir 8 dígitos
df_sigo['ANO_TABELA'] = df_sigo['ANO_TABELA'].astype(str).str.replace('.0', '').str.zfill(8)

# Mostrando as colunas
print(f'Colunas: \n {df_sigo.columns}')
# Mostrando as primeiras linhas
df_sigo.head(3)

Quantidade de linhas e colunas: (25, 2)
Colunas:
 Index(['ANO_TABELA', 'DESCRICAO'], dtype='object')

  ANO_TABELA    DESCRICAO
0   00001240  INTERMEDICA
1   00001241     AMB 1990
2   00001242     AMB 1992

- 2 - Processando as colunas do arquivo principal
   - 2.1 - Selecionando as (12) colunas que usaremos.
   - 2.2- Criamos um dicionário para mapear as chaves de busca e trazer os valores do item *`1.4`*.
   - 2.3 - Substituindo os valores em df com base no dicionário.
   - 2.4 - filtrar o que precisamos.
   
   - `CD_SERVIÇO_HONORARIO`
   - `CD_PROCEDIMENTO_TUSS`
   - `NM_PROCEDIMENTO_TUSS`
   - `VALOR_PROPOSTO`
   - `CD_TIPO_ACOMODACAO`
   - `URGENCIA`
   - `ELETIVA`
   - `TAXAS`
   - `MATERIAL`
   - `CONSULTA_HONORARIO`
   - `ANESTESISTA`
   - `AUXILIAR`
   - `CD_TIPO_REDE`

In [8]:
# Selecionando as colunas que serão utilizadas
columns_selects = [
   'ANO_TABELA','CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NM_SERV_HONORARIO', 'NM_PROCEDIMENTO_TUSS', 
   'VALOR_PROPOSTO','CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 'MEDICAMENTO',
   'CONSULTA_HONORARIO','ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE',
] 
# filtrando as colunas
df_filtered = df[columns_selects].copy()
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].astype(str).str.replace('.0', '').str.zfill(8)
print(df_filtered['ANO_TABELA'].value_counts())
# puxando as informações com np.where do df_sigo que são iguais ao df_filtered
# Criando um dicionário de mapeamento a partir de df_sigo
map_dict = dict(zip(df_sigo['ANO_TABELA'], df_sigo['DESCRICAO']))

# Substituindo os valores em df_filtered['ANO_TABELA'] com base no dicionário
df_filtered['ANO_TABELA'] = df_filtered['ANO_TABELA'].map(map_dict).fillna(df_filtered['ANO_TABELA'])

# Mostrando as primeiras linhas para verificar
print(df_filtered['ANO_TABELA'].value_counts())
df_filtered.head(3)
print(df_filtered['ANO_TABELA'].value_counts()) 

# Buscando os valores que estão no df_cod e no df_filtered NM_PROCEDIMENTO_TUSS NM_SERV_HONORARIO
df_filtered['NOMENCLATURA'] = np.where(df_filtered['CD_SERVIÇO_HONORARIO'].isin(df_cod['CD_SERVIÇO_HONORARIO']), df_filtered['NM_SERV_HONORARIO'], df_filtered['NM_PROCEDIMENTO_TUSS'])
# Mostrando os valores que estão no df_cod e no df_filtered
print(df_filtered['NOMENCLATURA'].value_counts())

columns_selects= ['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS', 'NOMENCLATURA', 'VALOR_PROPOSTO',
   'CD_TIPO_ACOMODACAO', 'URGENCIA', 'ELETIVA', 'TAXAS', 'MATERIAL', 'MEDICAMENTO', 'CONSULTA_HONORARIO', 'ANESTESISTA', 'AUXILIAR', 'CD_TIPO_REDE']

df_filtered = df_filtered[columns_selects].copy()
# removendo as duplicatas
df_filtered.drop_duplicates(inplace=True)
# resetando o index
df_filtered.reset_index(drop=True, inplace=True)
# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df: {df.shape}')
print(f'Quantidade de linhas e colunas df_filtered: {df_filtered.shape}')

# Mostrando as primeiras linhas
df_filtered.head(3)

ANO_TABELA
00001240    1659
00001249     450
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    2109
Name: count, dtype: int64
ANO_TABELA
INTERMEDICA    2109
Name: count, dtype: int64
NOMENCLATURA
ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERNADO                                       237
ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA                                                              237
SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA                                                        237
ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRICA (PLANTAO DE 12 HORAS - POR PACIENTE)    237
ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA E POR PACIENTE)                                         237
VISITA HOSPITALAR (PACIENTE INTERNADO)                                                                237
HEMIPLEGIA E HEMIPARESIA COM AFASIA                                                                   237
PACOTE PARTO CESAREA GEMELAR (ENFERMARIA)                                                              50
PACOTE CURETAGEM UTERINA ENFERMARIA  (NDI SP)                                                          50
PACOTE CURETAGEM UTERINA APARTAMENTO  (NDI SP)                                                         50
PACOTE OBSTETRICO PARTO CESAREA ENFERMARIA                                                             50
PACOTE PARTO CESAREA APARTAMENTO  (NDI SP)                                                             50
PACOTE OBSTETRICO PARTO NORMAL APARTAMENTO                                                             50
PACOTE OBSTETRICO PARTO NORMAL ENFERMARIA                                                              50
PACOTE PARTO NORMAL GEMELAR (ENFERMARIA)                                                               50
PACOTE PARTO CESAREA GEMELAR (APARTAMENTO)                                                             50
Name: count, dtype: int64
Quantidade de linhas e colunas df: (2109, 31)
Quantidade de linhas e colunas df_filtered: (2109, 15)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE
0,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"58,43",99,S,S,N,N,N,S,N,N,SP762
1,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"58,43",99,S,S,N,N,N,S,N,N,SP249
2,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"58,43",99,S,S,N,N,N,S,N,N,SP250

### 3 - Criando a CHAVE_1
   - 3.1 União e combinações possíveis para as seguintes colunas:
      - `URGENCIA`
      - `ELETIVA`
      - `TAXAS`
      - `MATERIAL`
      - `CONSULTA_HONORARIO`
      - `ANESTESISTA`
      - `AUXILIAR`

In [6]:
df_filtered.columns

Index(['ANO_TABELA', 'CD_SERVIÇO_HONORARIO', 'CD_PROCEDIMENTO_TUSS',
       'NOMENCLATURA', 'VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URGENCIA',
       'ELETIVA', 'TAXAS', 'MATERIAL', 'CONSULTA_HONORARIO', 'ANESTESISTA',
       'AUXILIAR', 'CD_TIPO_REDE'],
      dtype='object')

In [9]:
# Criando a coluna CHAVE_1 concatenando as colunas especificadas
columns = 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX'
df_filtered['CHAVE_1'] = (
   df_filtered['URGENCIA'].astype(str) + ' ' + 
   df_filtered['ELETIVA'].astype(str) + ' ' + 
   df_filtered['TAXAS'].astype(str) + ' ' + 
   df_filtered['MATERIAL'].astype(str) + ' ' +
   df_filtered['MEDICAMENTO'].astype(str) + ' ' +
   df_filtered['CONSULTA_HONORARIO'].astype(str) + ' ' + 
   df_filtered['ANESTESISTA'].astype(str) + ' ' + 
   df_filtered['AUXILIAR'].astype(str)
)
df_filtered.rename(columns={'CHAVE_1': columns}, inplace=True)
# Salvando para conferir
#df_filtered.to_csv(r'./ARQUIVOS/columns_filtered.csv', sep=';', encoding='latin1', index=False)
# Exibindo as primeiras linhas para verificar
df_filtered.head(2)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URGENCIA,ELETIVA,TAXAS,MATERIAL,MEDICAMENTO,CONSULTA_HONORARIO,ANESTESISTA,AUXILIAR,CD_TIPO_REDE,URG_ELE_TAX_MAT_MED_CH_ANE_AUX
0,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"58,43",99,S,S,N,N,N,S,N,N,SP762,S S N N N S N N
1,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"58,43",99,S,S,N,N,N,S,N,N,SP249,S S N N N S N N

In [10]:
print(100*'-')
print(f'CD_SERVIÇO_HONORARIO: {df_filtered["CD_SERVIÇO_HONORARIO"].nunique()}')
print(f'CD_SERVIÇO_HONORARIO:\n {df_filtered["CD_SERVIÇO_HONORARIO"].unique()}')
print(100*'-')
print(f'CD_PROCEDIMENTO_TUSS: {df_filtered["CD_PROCEDIMENTO_TUSS"].nunique()}')
print(f'CD_PROCEDIMENTO_TUSS:\n {df_filtered["CD_PROCEDIMENTO_TUSS"].unique()}')
print(100*'-')
print(f'VALOR_PROPOSTO: {df_filtered["VALOR_PROPOSTO"].nunique()}')
print(f'VALOR_PROPOSTO: \n{df_filtered["VALOR_PROPOSTO"].unique()}')
print(100*'-')
print(f'NOMENCLATURA: {df_filtered["NOMENCLATURA"].nunique()}')
print(f'NOMENCLATURA: \n{df_filtered["NOMENCLATURA"].unique()}')
print(100*'-')
print(f'URG_ELE_TAX_MAT_MED_CH_ANE_AUX: {df_filtered["URG_ELE_TAX_MAT_MED_CH_ANE_AUX"].nunique()}')
print(f'URG_ELE_TAX_MAT_MED_CH_ANE_AUX: \n{df_filtered["URG_ELE_TAX_MAT_MED_CH_ANE_AUX"].unique()}')
print(100*'-')

----------------------------------------------------------------------------------------------------
CD_SERVIÇO_HONORARIO: 16
CD_SERVIÇO_HONORARIO:
 ['20203047' '40324192' '50000632' '10104020' '90020162' '10104011'
 '10102019' '90010922' '90010957' '90010949' '90090357' '90090365'
 '90090373' '90020146' '90020170' '20103280']
----------------------------------------------------------------------------------------------------
CD_PROCEDIMENTO_TUSS: 11
CD_PROCEDIMENTO_TUSS:
 ['20203047' '40324192' '50000632' '10104020' '31309054' '10104011'
 '10102019' '31309062' '31309127' '31309135' '20103280']
----------------------------------------------------------------------------------------------------
VALOR_PROPOSTO: 7
VALOR_PROPOSTO:
['58,43' '286,73' '6.988,51' '161,99' '113,39' '3.074,95' '1.053,80']
----------------------------------------------------------------------------------------------------
NOMENCLATURA: 16
NOMENCLATURA:
['ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE CLINICO INTERNADO'
 'ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA'
 'SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA'
 'ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERAL OU PEDIATRICA (PLANTAO DE 12 HORAS - POR PACIENTE)'
 'PACOTE PARTO CESAREA GEMELAR (ENFERMARIA)'
 'ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA E POR PACIENTE)'
 'VISITA HOSPITALAR (PACIENTE INTERNADO)'
 'PACOTE CURETAGEM UTERINA ENFERMARIA  (NDI SP)'
 'PACOTE CURETAGEM UTERINA APARTAMENTO  (NDI SP)'
 'PACOTE PARTO CESAREA APARTAMENTO  (NDI SP)'
 'PACOTE OBSTETRICO PARTO CESAREA ENFERMARIA'
 'PACOTE OBSTETRICO PARTO NORMAL APARTAMENTO'
 'PACOTE OBSTETRICO PARTO NORMAL ENFERMARIA'
 'PACOTE PARTO NORMAL GEMELAR (ENFERMARIA)'
 'PACOTE PARTO CESAREA GEMELAR (APARTAMENTO)'
 'HEMIPLEGIA E HEMIPARESIA COM AFASIA']
----------------------------------------------------------------------------------------------------
URG_ELE_TAX_MAT_MED_CH_ANE_AUX: 4
URG_ELE_TAX_MAT_MED_CH_ANE_AUX:
['S S N N N S N N' 'S N N N N S N N' 'S S S S S N N N' 'N S N N N S N N']
----------------------------------------------------------------------------------------------------

- 4 - Processando as regras do jurídico para utilizar o arquivo.
    - 4.1 - Selecionando as colunas que serão utilizadas.
    - 4.2 - Concatenando as informações que precisamos em uma única coluna.
    - 4.3 - Removendo inconsistências da coluna e transformando em tipo String.
    - 4.4 - Ordenando `CD_TIPO_REDE`.
    - 4.5 - Removendo as duplicadas e resetando o index da nova tabela.
    - 4.6 - Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de `CD_TIPO_REDE` por '#".
        - Adicionando uma coluna com a quantidade de redes.
    - 4.7 - Renomeando as colunas para manter o formato desejado.
    - 4.8 - Quebrando a coluna CHAVE em 3 colunas separadas por '#'.
        - Reordenando as colunas desejadas.
    - 4.9 - Ordenando a o df por:
        -   ´URG_ELE_TAX_MAT_CH_ANE_AUX´.
        -   ´VALOR_PROPOSTO´.
        -   ´QUANTIDADE_REDES´.

In [11]:
# Selecionando as colunas que serão utilizadas
df_key_3 = df_filtered[['ANO_TABELA','CD_SERVIÇO_HONORARIO','VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX','CD_TIPO_REDE', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS']].copy()
# Concatenando as informações que precisamos em uma única coluna.
df_key_3['CHAVE_3_AUX'] = (
      df_key_3['CD_SERVIÇO_HONORARIO'].astype(str) + '#' +
      df_key_3['VALOR_PROPOSTO'].astype(str) + '#' +
      df_key_3['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'].astype(str) + '#' +
      df_key_3['NOMENCLATURA'].astype(str) + '#' +
      df_key_3['CD_TIPO_ACOMODACAO'].astype(str) + '#' +
      df_key_3['CD_PROCEDIMENTO_TUSS'].astype(str) + '#' +
      df_key_3['ANO_TABELA'].astype(str)
   )
# Removendo inconsistências da coluna e transformando em tipo String.
df_key_3['CD_TIPO_REDE'] = df_key_3['CD_TIPO_REDE'].astype(str).str.replace('.0', '')

# ordenando CD_TIPO_REDE
df_key_3.sort_values(by=['CD_TIPO_REDE'], inplace=True)

print(f'Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: {df_key_3.shape}')
# Removendo as duplicadas
df_key_3.drop_duplicates(inplace=True)
# Resetando o index
df_key_3.reset_index(drop=True, inplace=True)

# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3 após remover as duplicadas: {df_key_3.shape}')

#print(df_key_3.head(3))

# Agrupando por CD_SERVIÇO_HONORARIO e concatenando os valores de CD_TIPO_REDE


df_key_3_grouped = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .apply(', '.join)
    .reset_index()
)

# Adicionando uma coluna com a quantidade de redes
df_key_3_grouped['QUANTIDADE_REDES'] = (
    df_key_3.groupby('CHAVE_3_AUX')['CD_TIPO_REDE']
    .size()
    .values
)

# Renomeando as colunas para manter o formato desejado
df_key_3_grouped.columns = ['CD_SERVIÇO_HONORARIO', 'CD_TIPO_REDE', 'QUANTIDADE_REDES']

# quebrando a coluna CHAVE_3_AUX em 3 colunas separadas por '#'
df_key_3_grouped[['CD_SERVIÇO_HONORARIO', 'VALOR_PROPOSTO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'NOMENCLATURA', 'CD_TIPO_ACOMODACAO', 'CD_PROCEDIMENTO_TUSS', 'ANO_TABELA']] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].str.split('#', expand=True)
# removendo a coluna CHAVE_3_AUX
# reordenando as colunas 
df_key_3_grouped = df_key_3_grouped[['ANO_TABELA','CD_SERVIÇO_HONORARIO','CD_PROCEDIMENTO_TUSS' ,'NOMENCLATURA','VALOR_PROPOSTO', 'CD_TIPO_ACOMODACAO', 'URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'QUANTIDADE_REDES', 'CD_TIPO_REDE']].copy()

# reordenando por colunas
df_key_3_grouped.sort_values(by=['URG_ELE_TAX_MAT_MED_CH_ANE_AUX', 'VALOR_PROPOSTO', 'QUANTIDADE_REDES'], inplace=True)
# Resetando o index
df_key_3_grouped.reset_index(drop=True, inplace=True)

df_key_3_grouped['CD_SERVIÇO_HONORARIO'] = df_key_3_grouped['CD_SERVIÇO_HONORARIO'].astype(str)

df_key_3_grouped['VALOR_PROPOSTO'] = 'R$ ' + df_key_3_grouped['VALOR_PROPOSTO'].astype(str)


# Mostrando a quantidade de linhas e colunas
print(f'Quantidade de linhas e colunas df_key_3: {df_key_3_grouped.shape}')
df_key_3_grouped.head()

Quantidade de linhas e colunas df_key_3 antes de remover as duplicadas: (2109, 9)
Quantidade de linhas e colunas df_key_3 após remover as duplicadas: (2109, 9)
Quantidade de linhas e colunas df_key_3: (22, 9)

,ANO_TABELA,CD_SERVIÇO_HONORARIO,CD_PROCEDIMENTO_TUSS,NOMENCLATURA,VALOR_PROPOSTO,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_MED_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,N S N N N S N N,50,"AE165, AE297, SP1007, SP1042, SP1049, SP1064, ..."
1,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,N S N N N S N N,50,"AE165, AE297, SP1007, SP1042, SP1049, SP1064, ..."
2,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"R$ 113,39",99,S N N N N S N N,237,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
3,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
4,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."

### 5 - Salvando por `URG_ELE_TAX_MAT_CON_ANE_AUX`
   - 5.1 - Salvando o arquivo por aba de acordo com as permutas.

In [12]:
# Caminho do arquivo Excel
output_path = r'./ARQUIVOS/ANALISE SAO CAMILO.xlsx'

# Criando o arquivo Excel com a aba principal
with ExcelWriter(output_path, engine='openpyxl') as writer:
   # Salvando a aba principal
   df_key_3_grouped.to_excel(writer, index=False, sheet_name='GERAL')

   # # renomeando as colunas
   df_key_3_grouped.rename(
      columns={
         'CD_SERVIÇO_HONORARIO': 'CÓDIGO AUTORIZAÇÃO',
         'VALOR_PROPOSTO': 'VALOR',
         'CD_PROCEDIMENTO_TUSS':'CÓDIGO TUSS',
         },
      inplace=True
   )

    
    # Salvando as abas adicionais
   for num, save in enumerate(df_key_3_grouped['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'].unique()):
      # Filtrando os dados
      df_key_3_grouped_filtered = df_key_3_grouped[df_key_3_grouped['URG_ELE_TAX_MAT_MED_CH_ANE_AUX'] == save].copy()
      nane = f'NEG. {num+1}'
        
      # Salvando no mesmo arquivo Excel com o nome da aba correspondente
      df_key_3_grouped_filtered.to_excel(writer, index=False, sheet_name=nane)
        
df_key_3_grouped.head(10)

,ANO_TABELA,CÓDIGO AUTORIZAÇÃO,CÓDIGO TUSS,NOMENCLATURA,VALOR,CD_TIPO_ACOMODACAO,URG_ELE_TAX_MAT_MED_CH_ANE_AUX,QUANTIDADE_REDES,CD_TIPO_REDE
0,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,N S N N N S N N,50,"AE165, AE297, SP1007, SP1042, SP1049, SP1064, ..."
1,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,N S N N N S N N,50,"AE165, AE297, SP1007, SP1042, SP1049, SP1064, ..."
2,INTERMEDICA,10102019,10102019,VISITA HOSPITALAR (PACIENTE INTERNADO),"R$ 113,39",99,S N N N N S N N,237,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
3,INTERMEDICA,10104011,10104011,ATENDIMENTO DO INTENSIVISTA DIARISTA (POR DIA ...,"R$ 161,99",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
4,INTERMEDICA,10104020,10104020,ATENDIMENTO MEDICO DO INTENSIVISTA EM UTI GERA...,"R$ 286,73",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
5,INTERMEDICA,20203047,20203047,ASSISTENCIA FISIATRICA RESPIRATORIA EM DOENTE ...,"R$ 58,43",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
6,INTERMEDICA,40324192,40324192,ANTIGENO NS1 DO VIRUS DA DENGUE PESQUISA,"R$ 58,43",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
7,INTERMEDICA,50000632,50000632,SESSAO INDIVIDUAL HOSPITALAR DE FONOAUDIOLOGIA,"R$ 58,43",99,S N N N N S N N,187,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
8,INTERMEDICA,20103280,20103280,HEMIPLEGIA E HEMIPARESIA COM AFASIA,"R$ 58,43",99,S N N N N S N N,224,"AE100, AE102, AE104, AE105, AE106, AE107, AE11..."
9,INTERMEDICA,20103280,20103280,HEMIPLEGIA E HEMIPARESIA COM AFASIA,"R$ 58,43",99,S S N N N S N N,13,"SP1042, SP1064, SP1065, SP1117, SP123, SP204, ..."